.media-gallery {
  margin-top: 0;

  &__tag {
    font-size: $font-size-base;
    font-weight: bold;
  }
  &__images img,
  &__preview img {
    cursor: pointer;
  }

  &__images {
    position: relative;
  }

  &__info {
    padding: $vertical-gutter-width/2 $grid-gutter-width/2 $grid-gutter-width/4 $grid-gutter-width/2;
    background: $brand-secondary;
    color: $color-white;
    font-size: $font-size-h4;
  }
  &__title {
    font-weight: bold;
    font-size: $font-size-h1;
    line-height: 1;
    margin-top: 0;
    margin-bottom: $padding-large-vertical;
  }
  &__sub_title {
    margin-bottom: $padding-base-vertical*3;
  }
  &__preview {
    padding-top: $padding-base-vertical*5;
    padding-bottom: $padding-base-vertical*5;
    .image__image {
      padding-bottom: $vertical-gutter-width;
    }
    .image__info {
      display: none;
    }
  }
  .media-image {
    margin: 0;
  }

  .slideshow__slides {
    article {
      margin-top: 0;
    }
    .image__date {
      display: none;
    }
    .image__info {
      padding: $padding-base-vertical $grid-gutter-width/2;
      .image__caption {
        background: rgba($gray-dark, 0.7);
        float: right;
      }
    }
  }
}

.media-gallery.view-mode-full {
  margin-left: $grid-gutter-width/-2;
  margin-right: $grid-gutter-width/-2;
  .tags {
    background: $brand-secondary;
    color: $color-white;
    font-size: $font-size-small;
    padding: 0 $grid-gutter-width/2 $grid-gutter-width*0.8 $grid-gutter-width/2;
    &:before {
      position: initial;
      font-size: $font-size-h3;
    }
  }
}

// For view mode preview
.media--preview {
  .gallery__title {
    color: $brand-secondary;
    padding: 0 $padding-xs-horizontal;
  }
  .gallery__description {
    color: $color-white;
  }
}

