/*
// Styles for teasers
.teaser {
  @include content-box();
  margin-bottom: $vertical-gutter-width;
}
.teaser h2,
.teaser h3 {
  a {
    &:hover,
    &:focus {
      text-decoration: none;
      color: $color-gray;
    }
  }
}
*/