.header__upper-menu{
  .language{
    padding: $padding-large-vertical $padding-large-vertical*2 $padding-base-vertical $padding-large-vertical*2;
    -webkit-font-smoothing: antialiased;
    select{
        text-transform: uppercase;
        display: none;
    }
    .selector{
      background: url(../images/language-block.png) no-repeat scroll right 3px transparent;
      padding-right:  $padding-large-vertical*1.5;
    }
    .options{
      display: block;
      position: absolute;
      z-index: 2;
      left: 64px;
      top: 42px;
      list-style: none;
      padding: 0;
      background: $brand-primary;
       li{
          padding: $padding-large-vertical/2 $padding-large-vertical;
          a{
            font-size: $font-size-base - 6;
          }
        }
      &.is-hidden{
        opacity: 0;
        transition: opacity 1s, visibility 1.3s;
        z-index: -10;
      }
      &.is-open{
        visibility:visible;
        opacity: 1;
        transition: opacity 1s, visibility 1.3s;
      }
    }
    a{
      cursor: pointer;
      color: $color-white;
    }
  }
  #secondary-menu{
    ul{
      float: right;
    }

  }
  .menu{
    padding-left: 0;
    ul{
      list-style: none;
      margin-bottom: 0;
      padding: 0;
      li{
        display: inline-block;
        float: left;
        a{
          color: $color-white;
          padding: $padding-large-vertical $padding-large-vertical*2 $padding-large-vertical/2.5 $padding-large-vertical;
          -webkit-font-smoothing: antialiased;
          &.gebaerdensprache{
            background: url(../images/download.png) no-repeat scroll right 6px transparent;
            padding: $padding-large-vertical $padding-large-vertical*2.4 $padding-large-vertical/2.5 $padding-large-vertical;
          }
          &.leichtesprache{
            background: url(../images/leichtesprache.png) no-repeat scroll right 10px transparent;
          }
          &.login{
            background: url(../images/user-login.png) no-repeat scroll right 10px transparent;
          }
          &.kontakt {
            background: url(../images/kontakt.png) no-repeat scroll right 10px transparent;
          }

        }
      }
    }
    &:last-child{
      margin-left: auto;
    }
  }
}

.nrw-menu-header{
  background: $color-white;
  .shadow{
    border-radius: 50%;
    width: 100%;
    height: 14px;
    background: black;
    opacity: 0.2;
    -webkit-filter: blur(10px);
    -webkit-transform: scale(1, 0.1);
    margin-bottom: -1*($padding-base-vertical);
  }
  &__icons{
    display: inline-block;
    width: 100%;
    background: $color-white;
    margin-bottom: -1*($padding-base-vertical + 2 );
  }
  &__icon{
    text-decoration: none;
    display: inline-block;
    height: 80px;
    width: 160px;
    border-right: 1px solid $nrw-light;
    float: left;
    font-size: $font-size-small - 2;
    font-weight: bold;
    text-transform: uppercase;
    &:hover{
      text-decoration: none;
    }
    div{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
    i{
      color: $brand-primary;
      z-index: 1;
      margin-bottom: $padding-base-vertical*2;
      &:before{
        font-size: $font-size-large;
      }
    }
    &.menu-search{
      border-right: 0px solid $nrw-light;
      border-left: 1px solid $nrw-light;
      float: right;
      i{
        &:before{
          font-size: $font-size-h4;
        }
      }
      &:hover{
        background: $brand-primary;
        color: $color-white;
        i{
          color: $color-white;
        }
      }
    }
    a{
      color: $brand-primary;
      align-self: flex-end;
      text-align: center;
      width: 100%;
      height: 100px;
      font-size: $font-size-small;
      padding: 68px 0px 0px 0;
      font-weight: bold;
      text-transform: uppercase;
      position: relative;
      z-index: 2;
    }
  }
  &__wrapper{
    position: relative;
    display: flex;
    flex-direction: row;
    -webkit-flex-flow: row wrap;
    justify-content: flex-start;
    background-color: $nrw-secondary;
    a{
      color: $color-white;
    }
  }
  &__col{
    padding: 10px;
    &.is-open{
      background-color: $brand-primary;
      &:before{
        @include triangle-up($size: 10px);
        top: -10px;
        left: 66px;
      }
    }
    &:hover{
      background-color: $brand-primary;
    }
  }
  &__content{
    display: none;
    position: absolute;
    background-color: $brand-primary;
    width: 100%;
    left: 0;
    top: 45px;
    z-index: 2;
    &-title-area{
      padding: 20px 20px 13px 20px;
      color: $brand-primary;
      display: flex;
      >a, >div{
        flex-grow: 1;
        text-decoration: none;
      }

      .nrw-menu__content-close{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        align-self: flex-end;
        font-size: $font-size-base - 4;
        justify-content: flex-end;
        i{
          color: $color-white;
          line-height: 1.1;
          line-height: $padding-large-horizontal;
          margin-left: $padding-base-horizontal/3;
        }
      }
      .nrw-menu__content-title-icon{
        display: inline-block;
        i{
          background: $color-white;
          color: $brand-primary;
          width: 45px;
          height: 45px;
          display: flex;
          align-items: center;
          justify-content: center;
          float: left;
          margin-right: $padding-base-horizontal + 5;
        }
      }
      .nrw-menu__content-title-text{
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        margin: 0;
        line-height: 1.3;
        font-size: $font-size-h3;
        font-family: $font-family-sans-serif;

        .sub-title{
          font-weight: bold;
          display: inline-block;
          width: 100%;
        }
      }
    }
    .nrw-menu__extra{
      min-height: 210px;
      width: 24%;
      float: right;
      background-color: $nrw-secondary;
      padding: $padding-base-horizontal + 5;
      color: $color-white;
      p{
        color: $color-white;
        margin: 0;
        line-height: $font-size-h2 + 6;
        -webkit-font-smoothing: antialiased;
      }
    }
    > .nrw-menu__list{
        list-style: none;
        float: left;
        background-image: url(../images/menus.png);
        min-height: 210px;
        width: 75%;
        padding: $padding-base-horizontal $padding-base-horizontal*3.6;
        margin-bottom: $padding-base-horizontal*5;
        ul{
          list-style: none;
        }
        a{
            @include icon-before('\f061');
            font-size: $font-size-base - 4;
            text-transform: initial;
          }
      }

    &.is-expanded{
      display: block;
    }
  }
}

// Primary tabs menu for logged in users
.user-logged-in .nav-tabs.tabs--primary {
  position: fixed;
  top: 5em;
  right: 0.5em;
  border: none;
  li {
    float: none;
    margin: $padding-large-vertical 0;
    &:first-child a {
      @include icon($fa-var-eye);
    }
    a[href*=edit] {
      @include icon($fa-var-pencil);
    }
    a[href*=delete] {
      @include icon($fa-var-trash-o);
    }
    a[href*=revisions] {
      @include icon($fa-var-list-ol);
    }
    &:first-child a,
    a[href*=edit],
    a[href*=delete],
    a[href*=revisions] {
      display: block;
      width: $font-size-h1;
      height: $font-size-h1;
      background: $color-red;
      padding: 0;
      box-shadow: 0px 1px 2px rgba($gray-base,0.3);
      border-radius: 50%;
      border: none;
      cursor: pointer;
      &:before {
        color: $color-white;
        font-size: $font-size-h3;
        line-height: 1;
        width: 100%;
        text-align: center;
        vertical-align: bottom;
        margin-top: 6px;
      }
      &:hover {
        background: $color-white;
        border: none;
        &:before {
          color: $gray;
        }
      }
    }
  }
  li.active a {
    background: $color-white;
    &:before {
      color: $gray;
    }
  }
}