// Slick arrows are disabled, but if they are enabled these are the styles
.slick-arrow {
  background: $color-white-transparent;
  &:hover,
  &:focus,
  &:active {
    background: $gray-light;
  }
  &.slick-next {
    &:before {
      content: "\f105";
    }
  }
  &.slick-prev {
    &:before {
      content: "\f104";
    }
  }
  &.slick-next, &.slick-prev {
    &:before {
      font-size: $font-size-h3;
      color: $color-blue;
      text-shadow: none;
    }
  }
}

// slide arrows which are added in the template
.inslide-slick-prev,
.inslide-slick-next {
  width: $grid-gutter-width;
  height: $grid-gutter-width;
  top: 25%; 
  appearance: none;
  background:transparent;
  border: 0;
  position: absolute;
  z-index: 9;
  top: 50%;
  transform: translate(0,-50%);
  outline: none;
  &:before {
    font-size: $grid-gutter-width;
    color: $body-bg;
    text-shadow: 5px 5px 10px rgba(0,0,0,0.75);
  }
}
.inslide-slick-prev {
  @include icon($fa-var-arrow-left);
  left: $grid-gutter-width;
}
.inslide-slick-next {
  @include icon($fa-var-arrow-right);
  right: $grid-gutter-width;
}

/* Press list - Slick slider */
.press-list {
  .view-content {
    padding-top: $padding-large-vertical*2;
    padding-bottom: $padding-large-vertical*2;
    @media (max-width: $screen-sm-max) {
      padding-bottom: $padding-large-vertical*4;
    }
  }
  .press__latest_wrapper {
    a {
      text-decoration: none;
      cursor: default;
      &:focus,
      &:active {
        outline: none;
      }
    }
  }
  .press__teaser-date {
    color: $text-color;
    font-size: 12px;
    font-family: "BentonSans-Regular";
    time {
      font-weight: normal;
    }
  }
  .press__teaser-title {
    color: $brand-primary;
    font-size: 14px;
    font-family: "BentonSans-Regular";
    font-weight: bold;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
  .view-footer {
    a {
      padding-right: 15px;
      color: #3c506e;
      font-family: "BentonSans-Regular";
      font-size: 12px;
      line-height: normal;
      font-weight: bold;
      vertical-align: top;
      .fa {
        padding-right: 5px;
        vertical-align: top;
        line-height: 12px;
      }
    }
  }

  /* Arrow design */
  .slick-arrow {
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    z-index: 10;
    height: auto;
    width: auto;
    border: none;
    margin: -43px 20px 0;
    padding: 0;
    background-color: transparent;
    font-weight: 100;
    font-size: 0;
    &:focus {
      outline: none;
    }
    &:before {
      margin: 0;
      color: $brand-primary;
      font-size: $font-size-h1 !important;
      line-height: normal;
      font-family: fontawesome;
      text-shadow: none;
    }
    &.slick-prev {
      right: 130px;
    }
    @media (max-width: $screen-sm-max) {
      display: none !important;
    }
  }

  /* Dots design */
  .slick-dots {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 130px;
    width: 100%;
    margin: -30px 27px 0 0;
    padding-left: 0;
    list-style: none;
    text-align: center;
    @media (max-width: $screen-sm-max) {
      top: auto;
      bottom: 0;
      left: 0;
      max-width: 100%;
      text-align: center;
      margin: 0;
    }
    li {
      display: inline-block;
      margin: 0 3px;
      &.slick-active {
        button {
          background-color: $brand-primary;
        }
      }
      button {
        display: inline-block;
        width: 10px;
        height: 10px;
        padding: 0;
        border: 2px solid $brand-primary;
        background-color: transparent;
        font-size: 0;
        vertical-align: top;
        border-radius: 1000px;
        &:focus {
          outline: none;
        }
      }
    }
  }
}
