.paragraph-slideshow {
  position: relative;
  width: 100%;
}
.slideshow {
  .slick-list {
    @media (max-width: $screen-sm-max) {
      background-color: $nrw-primary;
    }
  }
  .slick-track {
    .slick-slide {
      .slide__link {
        max-height: 540px;
        &:hover,
        &:focus, {
          text-decoration: none;
          outline: none;
        }
        @media (max-width: $screen-sm-max) {
          max-height: none;
        }
      }
      .slide__media {
        position: relative;
        z-index: 11;
        float: left;
        width: 75%;
        .image {
          margin: 0;
        }
        @media (max-width: $screen-md-max) {
          width: 65%;
        }
        @media (max-width: $screen-sm-max) {
          width: 100%;
        }
      }
      .slide__text {
        float: left;
        max-height: 480px;
        overflow: auto;
        width: 25%;
        margin-bottom: $vertical-gutter-width*1.5;
        padding-top: $grid-gutter-width/2;
        color: $brand-primary;
        @media (max-width: $screen-md-max) {
          max-height: 290px;
          width: 35%;
        }
        @media (max-width: $screen-sm-max) {
          max-height: none;
          width: 100%;
          margin-bottom: 0;
        }
        h2 {
          margin: 0 0 12px;
          line-height: normal;
          font-family: $font-family-sans-serif;
          font-weight: bold;
        }
        p {
          font-size: $font-size-h6;
          font-weight: normal;
        }
        .slide__text__sub {
          padding-right: $padding-small-horizontal*2;
          padding-left: $padding-small-horizontal*2;
        }
        @media (max-width: $screen-sm-max) {
          color: $color-white;
          .slide__text__sub {
            padding: 22px 25px 70px;
            .slide__text__sub {
              padding-right: 0;
              padding-left: 0;
            }
          }
        }
      }
    }
    .image__caption {
      position: absolute;
      display: none;
    }
    .image__copyright {
      position: absolute;
      display: none;
    }
  }
  .slideshow__slides {
    margin-bottom: 0;
    .slide {
      .slide__link {
        display: inline-block;
        width: 100%;
        vertical-align: top;
      }
    }
  }
}

// Slider controls
.slick-controls {
  position: absolute;
  display: inline-block;
  top: auto;
  right: 0;
  bottom: 28px;
  left: auto;
  margin-right: 90px;
  @media (max-width: $screen-md-max) {
    margin-right: 80px;
  }
  @media (max-width: $screen-sm-max) {
    display: none;
  }
  .slick__pause,
  .slick__play {
    display: none;
    height: auto;
    width: auto;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    font-size: 0;
    line-height: 0;
    text-shadow: none;
    &::before {
      position: relative;
      top: auto;
      bottom: -3px;
      color: $brand-primary;
      font-size: 22px;
      line-height: 22px;
      font-family: fontawesome;
      text-shadow: none;
      content: "\f04b"; // For play button
    }
  }
  .slick__pause {
    display: inline-block;
    &::before {
      content: "\f04c";
    }
  }
}

// Dots design
.slick-dots {
  left: auto;
  right: 120px;
  bottom: 33px;
  width: 100%;
  margin-right: $padding-small-horizontal*2;
  text-align: center;
  @include calc('max-width', '14% - 70px');
  @media (max-width: $screen-md-max) {
    @include calc('max-width', '20% - 70px');
  }
  @media (max-width: $screen-sm-max) {
    right: 0;
    max-width: 100%;
  }
  li {
    height: 11px;
    width: 11px;
    margin: 0 2px;
    button {
      height: 11px;
      width: 11px;
      padding: 0;
      border: 2px solid $brand-primary;
      border-radius: 100px;
      background-color: rgba($color-white, 0.4);
      &::before {
        display: none;
      }
    }
    &.slick-active {
      button {
        background-color: $brand-primary;
      }
    }
    @media (max-width: $screen-sm-max) {
      button {
        border: 2px solid $color-white-transparent;
        background-color: $brand-primary;
      }
      &.slick-active {
        button {
          background-color: $color-white-transparent;
        }
      }
    }
  }
}

// Slick Arrows
.slideshow {
  .slick-arrow {
    top: auto;
    right: 0;
    bottom: -45px;
    left: auto;
    z-index: 10;
    height: auto;
    width: auto;
    font-weight: 100;
    @media (max-width: $screen-sm-max) {
      display: none !important;
    }
    &:before {
      height: auto;
      width: auto;
      margin: 0 0;
      opacity: 1;
      color: $brand-primary;
      font-size: 88px;
      line-height: 88px;
      font-weight: 100;
      font-family: fontawesome;
      text-shadow: none;
      content: "\f105"; /* For next arrow */
    }
    &.slick-prev {
      right: 25%;
      margin-right: -$padding-small-horizontal*5;
      &:before {
        content: "\f104";
      }
      @media (max-width: $screen-md-max) {
        right: 35%;
      }
    }
    &.slick-next {
      &:before {
        margin-right: $padding-small-horizontal*2;
        margin-left: 0;
        content: "\f105"; /* For next arrow */
      }
    }
  }
}

// slide arrows which are added in the template
.inslide-slick-prev,
.inslide-slick-next {
  width: $grid-gutter-width;
  height: $grid-gutter-width;
  top: 25%;
  appearance: none;
  background:transparent;
  border: 0;
  position: absolute;
  z-index: 9;
  top: 50%;
  transform: translate(0,-50%);
  outline: none;
  &:before {
    font-size: $grid-gutter-width;
    color: $body-bg;
    text-shadow: 5px 5px 10px rgba(0,0,0,0.75);
  }
}
.inslide-slick-prev {
  @include icon($fa-var-arrow-left);
  left: $grid-gutter-width;
}
.inslide-slick-next {
  @include icon($fa-var-arrow-right);
  right: $grid-gutter-width;
}

/* Press list - Slick slider */
.press-list {
  .view-content {
    padding-top: $padding-large-vertical*2;
    padding-bottom: $padding-large-vertical*2;
    @media (max-width: $screen-sm-max) {
      padding-bottom: $padding-large-vertical*4;
    }
  }
  .press__latest_wrapper {
    a {
      text-decoration: none;
      cursor: default;
      &:focus,
      &:active {
        outline: none;
      }
    }
  }
  .press__teaser-date {
    color: $text-color;
    font-size: 12px;
    font-family: "BentonSans-Regular";
    time {
      font-weight: normal;
    }
  }
  .press__teaser-title {
    color: $brand-primary;
    font-size: 14px;
    font-family: "BentonSans-Regular";
    font-weight: bold;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
  .view-footer {
    a {
      padding-right: 15px;
      color: #3c506e;
      font-family: "BentonSans-Regular";
      font-size: 12px;
      line-height: 12px;
      font-weight: bold;
      /*vertical-align: top;*/
      .fa {
        padding-right: 5px;
        /*vertical-align: top;*/
        line-height: 12px;
        &:before {
          display: inline-block;
          margin: 0 0 1px;
          vertical-align: text-bottom;
        }
      }
    }
  }

  /* Arrow design */
  .slick-arrow {
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    z-index: 10;
    height: auto;
    width: auto;
    border: none;
    margin: -43px 20px 0;
    padding: 0;
    background-color: transparent;
    font-weight: 100;
    font-size: 0;
    &:focus {
      outline: none;
    }
    &:before {
      margin: 0;
      color: $brand-primary;
      font-size: $font-size-h1 !important;
      line-height: normal;
      font-family: fontawesome;
      text-shadow: none;
    }
    &.slick-prev {
      right: 130px;
    }
    @media (max-width: $screen-sm-max) {
      display: none !important;
    }
  }

}