// Slider controls
.slick-controls {
  position: absolute;
  display: inline-block;
  top: auto;
  right: 0;
  bottom: 28px;
  left: auto;
  margin-right: 90px;
  @media (max-width: $screen-md-max) {
    margin-right: 80px;
  }
  @media (max-width: $screen-sm-max) {
    display: none;
  }
  .slick__pause,
  .slick__play {
    display: none;
    height: auto;
    width: auto;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    font-size: 0;
    line-height: 0;
    text-shadow: none;
    &::before {
      position: relative;
      top: auto;
      bottom: -3px;
      color: $brand-primary;
      font-size: 22px;
      line-height: 22px;
      font-family: fontawesome;
      text-shadow: none;
      content: "\f04b"; // For play button
    }
  }
  .slick__pause {
    display: inline-block;
    &::before {
      content: "\f04c";
    }
  }
}

// Slick Dots
.slick-dots {
  left: auto;
  right: 120px;
  bottom: 33px;
  width: 100%;
  margin-right: $padding-small-horizontal*2;
  text-align: center;
  @include calc('max-width', '14% - 70px');
  @media (max-width: $screen-md-max) {
    @include calc('max-width', '20% - 70px');
  }
  @media (max-width: $screen-sm-max) {
    right: 0;
    max-width: 100%;
  }
  li {
    height: 11px;
    width: 11px;
    margin: 0 2px;
    button {
      height: 11px;
      width: 11px;
      padding: 0;
      border: 2px solid $brand-primary;
      border-radius: 100px;
      background-color: rgba($color-white, 0.4);
      &::before {
        display: none;
      }
    }
    &.slick-active {
      button {
        background-color: $brand-primary;
      }
    }
    @media (max-width: $screen-sm-max) {
      button {
        border: 2px solid $color-white-transparent;
        background-color: $brand-primary;
      }
      &.slick-active {
        button {
          background-color: $color-white-transparent;
        }
      }
    }
  }
}

// Slick Arrows
.slick-arrow {
  height: auto;
  width: auto;
  top: auto;
  left: auto;
  @media (max-width: $screen-sm-max) {
    display: none !important;
  }
  &:before {
    font-family: fontawesome;
    color: $brand-primary;
  }
  &.slick-prev {
    right: 25%;
    margin-right: -$padding-small-horizontal*5;
    &:before {
      content: "\f104";
    }
    @media (max-width: $screen-md-max) {
      right: 35%;
    }
  }
  &.slick-next {
    right: 20px;
    &:before {
      content: "\f105";
    }
  }
}

// Slider specific styles
.slideshow {
  .slick-arrow {
    bottom: -45px;
    z-index: 10;
    &:before {
      font-size: 88px;
      line-height: 88px;
      margin: 0;
      opacity: 1;
    }
  }
}

.press-list {
  .slick-arrow {
    top: -51px;
    &:before {
      font-size: $font-size-h1;
    }
  }
  .slick-dots {
    top: -67px;
    right: 20px;
    bottom: auto;
    max-width: 17%;
  }
}


