{
  "ecmaFeatures": {
    "blockBindings": true,                     // enable let and const (aka block bindings)
    "forOf": false,                             // enable for-of loops
    "templateStrings": true,
  },

  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true
  },

  "globals": {},

  "plugins": [],

  "rules": {
    "global-require": "error",
    "camelcase": ["error", { "properties": "always" }],
    "new-cap": ["error", { "newIsCap": true, "capIsNew": true }],
    "no-empty-label": 0,
    "space-after-keywords": 0,
    "space-return-throw-case": 0,
    "no-extra-semi": "error",
    "no-mixed-spaces-and-tabs": 1,
    "no-trailing-spaces": 0,
    "no-console": [1, { allow: ["warn", "error"] }],
    "quotes": [1, "single", "avoid-escape"],
    "no-unused-vars": 1,
    "semi": ["error", "always"],
    "no-var": 1,
    "strict": [2, "never"],
    "brace-style": ["error", "1tbs"]
  }
}
