.video,
.video-upload {
  position: relative;
  color: $color-white;
  &__type-text {
    position: absolute;
    left: $grid-gutter-width/2;
    top: $vertical-gutter-width/2;
    z-index: 1;
    font-size: $font-size-small;
    line-height: $font-size-small;
    font-weight: bold;
    background: $brand-secondary;
    padding: $padding-xs-vertical*3 $padding-small-horizontal;
  }
  &__info {
    @include clearfix;
    padding: $padding-base-vertical*3;
    font-size: $font-size-h6;
    text-align: right;
    position: absolute;
    bottom: $vertical-gutter-width*0.75; // to not cover controls
    left: 0;
    right: 0;
    & > div {
      display: inline;
    }
  }
  &__caption,
  &__copyright {
    * {
      display: inline-block;
    }
  }
  &__copyright {
    &:before {
      content: "/";
      padding-left: $padding-xs-horizontal;
    }
    @include larger-than($screen-sm-min){
      text-align: right;
    }
  }
  &__video {
    position: relative;
  }
  video {
    width: 100%;
    height: auto;
  }
}
.header-image{
  .video,.video-upload {
    margin: 0;
  }
}

.media-video.view-mode-full, .media-video.view-mode-default,
.media-video-upload.view-mode-full, .media-video-upload.view-mode-default {
  .video__info__wrap,
  .video-upload__info__wrap {
    background: rgba($gray-dark, 0.7);
  }
  .video-upload__extra-info,
  .video__extra-info {
    padding: $grid-gutter-width/2;
    background: $brand-secondary;
  }
  .video-upload__duration,
  .video__duration {
    font-weight: bold;
    padding: $padding-large-vertical 0;
  }
  .video__date,
  .video-upload__date {
    padding-top: $padding-base-vertical;
    padding-bottom: $vertical-gutter-width/2;
    font-size: $font-size-h4;
  }
  .video__description,
  .video__description {
    font-size: $font-size-h4;
    padding-bottom: $vertical-gutter-width/2;
  }
  .tags {
    padding: 0 0 $vertical-gutter-width 0;
    font-size: $font-size-small;
    &:before {
      position: initial;
      font-size: $font-size-h3;
      padding-right: $padding-xs-horizontal;
    }
  }
  .video-upload__transcription,
  .video__transcription {
    color: $brand-secondary;
    clear: both;
    &__header {
      background: $deGOV-light;
      font-weight: bold;
      padding: $padding-large-vertical $grid-gutter-width/2;
      cursor: pointer;
      i {
        width: 2em;
        vertical-align: middle;
      }
      i:before {
        margin: auto;
        margin-right: $padding-small-horizontal;
        font-size: $font-size-h1;
      }
    }
    &__body {
      background: $color-white;
      padding: $grid-gutter-width/2 $grid-gutter-width;
      font-size: $font-size-base;
      line-height: 1.5;
      &.closed {
        display: none;
      }
    }
  }
  .video__assets,
  .video-upload__assets {
    padding: $vertical-gutter-width/2 0;
    font-size: $font-size-small;
  }
  .video-upload__downloads {
    float: right;
    .file {
      width: 100%;
      background: $color-white;
      padding: $padding-large-horizontal/2;
      margin-bottom: $padding-large-vertical;
      &,
      a {
        color: $deGOV-secondary;
      }
    }
  }
}

// Add alignment exception per region.
// @todo: will probably need to be done with javascript based on image size.
.region-sidebar-second,
.region-sidebar-first {
  .video__info,
  .video-upload__info {
    text-align: left;
    font-size: $font-size-extra-small;
  }
}

// For teaser mode hide info
.teaser {
  .video__info,
  .video-upload__info {
    display: none;
  }
}
