.citation {
  margin-top: $vertical-gutter-width/-2;
  margin-bottom: $vertical-gutter-width/-2;
  color: $brand-primary;
  &__left {
    padding: $vertical-gutter-width $padding-small-horizontal*5;
    &:after {
      @include triangle-right($color: $color-white);
      right: -15px;
      top: $grid-gutter-width/2;
    }
  }
  &__right {
    padding-left: 0;
    padding-right: 0;
  }
  &__text {
    font-size: $font-size-h3;
    font-family: $font-family-serif;
    font-style: italic;
    padding-bottom: $padding-base-vertical;
    &:before,
    &:after {
      font-size: 124px;
      margin: 0;
      line-height: 0;
    }
    &:before {
      content: "\201C";
      vertical-align: -.4em;
      margin-right: 15px;
    }
    &:after {
      content: "\201D";
      vertical-align: -.61em;
    }
  }
  &__title,
  &__date {
    font-size: $font-size-small;
    font-weight: bold;
    text-align: center;
  }
  &__image img {
    width: 100%;
  }
}