# Ignore binaries.
/bin

# Ignore non-custom parts of Drupal.
/docroot/core
/docroot/modules/contrib
/docroot/profiles/contrib
/docroot/themes/contrib
/docroot/sites/default/files
/docroot/modules/degov
/docroot/themes/degov

# Ignore Composer-managed dependencies.
vendor/

# Ignore IDE files
.idea

# OS Files
.DS_Store

#local settings
settings.local.php
