.media-person {
  padding: $grid-gutter-width/2;
  color: $color-white;
  background: $brand-secondary;
  margin-left: $grid-gutter-width/-2;
  margin-right: $grid-gutter-width/-2;
  border: 1px solid $deGOV-light;
  border-right: none;
  &__image {
    float: left;
    width: 50%;
    padding-right: $grid-gutter-width/2;
    margin: -1*($grid-gutter-width/2);
  }
  .image {
    margin: 0;
    &__info {
      display: none;
    }
  }
}
.media-person--author {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  .media-person__image {
    float: none;
    width: 100%;
    padding: 0;
    margin: 0;
  }
}