// import default vars from the base theme
@import "../../../../contrib/degov_nrw_theme/source/sass/variables";
// import override variables for this theme
@import "variables";

// import base theme css
@import "../../node_modules/font-awesome/scss/font-awesome";
@import "../../node_modules/slick-carousel/slick/slick.scss";
@import "../../node_modules/photoswipe/src/css/main.scss";
@import "../../node_modules/photoswipe/src/css/default-skin/default-skin.scss";
@import "../../../../contrib/degov_nrw_theme/source/sass/mixins";

@import "../../../../contrib/degov_nrw_theme/source/sass/components/**";
@import "../../../../contrib/degov_nrw_theme/source/sass/elements/**";
@import "../../../../contrib/degov_nrw_theme/source/sass/pages/**";
@import "../../../../contrib/degov_nrw_theme/source/sass/view-modes/**";
@import "../../../../contrib/degov_nrw_theme/source/sass/views/**";

// import the custom style files for this theme
@import "components/**";
@import "elements/**";
@import "pages/**";
@import "view-modes/**";
@import "views/**";
