{#
/**
 * @file
 * Default theme implementation to present a media entity.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
<article class="citation">
  <div class="citation__text">{{ content.field_citation_text }}</div>
  <div class="citation__title">{{ content.field_citation_title }}</div>
  <div class="citation__date">{{ content.field_citation_date }}</div>
  <div class="citation__image">{{ content.field_citation_image }}</div>
</article>
