.image {
  @include make-row();
  position: relative;
  color: $color-white;
  &__info {
    @include clearfix;
    background: $brand-primary;
    font-size: $font-size-h6;
  }
  &__caption,
  &__copyright {
    @include make-sm-column(6);
    padding-top: $padding-base-vertical*3;
    padding-bottom: $padding-base-vertical*3;
    * {
      display: inline-block;
    }
  }
  &__copyright {
    @include larger-than($screen-sm-min){
      text-align: right;
    }
  }
  img {
    width: 100%;
    height: auto;
  }
}