.image {
  @include make-row();
  position: relative;
  color: $color-white;
  &__info {
    @include clearfix;
    padding: $padding-base-vertical*3;
    font-size: $font-size-h6;
    text-align: right;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    & > div {
      display: inline;
    }
  }
  &__caption,
  &__copyright {
    * {
      display: inline-block;
    }
  }
  &__copyright {
    &:before {
      content: "/";
      padding-left: $padding-xs-horizontal;
    }
    @include larger-than($screen-sm-min) {
      text-align: right;
    }
  }
  img {
    width: 100%;
    height: auto;
  }
}

// Add alignment exception per region.
// @todo: will probably need to be done with javascript based on image size.
.region-sidebar-second,
.region-sidebar-first {
  .image__info {
    text-align: left;
  }
}

// For teaser mode hide info
.teaser {
  .image__info {
    display: none;
  }
}