.video,
.video-upload {
  @include make-row();
  position: relative;
  color: $color-white;
  &__type-text {
    position: absolute;
    left: $grid-gutter-width/2;
    top: $vertical-gutter-width/2;
    z-index: 1;
    font-size: $font-size-small;
    line-height: $font-size-small;
    font-weight: bold;
    background: $brand-primary;
    padding: $padding-xs-vertical*3 $padding-small-horizontal;
  }
  &__info {
    @include clearfix;
    padding: $padding-base-vertical*3;
    font-size: $font-size-h6;
    text-align: right;
    position: absolute;
    bottom: $vertical-gutter-width*0.75; // to not cover controls
    left: 0;
    right: 0;
    & > div {
      display: inline;
    }
  }
  &__caption,
  &__copyright {
    * {
      display: inline-block;
    }
  }
  &__copyright {
    &:before {
      content: "/";
      padding-left: $padding-xs-horizontal;
    }
    @include larger-than($screen-sm-min){
      text-align: right;
    }
  }
  video {
    width: 100%;
    height: auto;
  }
}
.header-image{
  .video,.video-upload {
    margin: 0;
  }
}
// Add alignment exception per region.
// @todo: will probably need to be done with javascript based on image size.
.region-sidebar-second,
.region-sidebar-first {
  .video__info,
  .video-upload__info {
    text-align: left;
  }
}

// For teaser mode hide info
.teaser {
  .video__info,
  .video-upload__info {
    display: none;
  }
}