.video,
.video-upload {
  @include make-row();
  position: relative;
  color: $color-white;
  &__type-text {
    position: absolute;
    left: $grid-gutter-width/2;
    top: $grid-gutter-width/2;
    z-index: 1;
    font-size: $font-size-small;
    line-height: $font-size-small;
    font-weight: bold;
    background: $brand-primary;
    padding: $grid-gutter-width*0.075 $grid-gutter-width/4;
  }
  &__info {
    @include clearfix;
    background: $brand-primary;
    padding: $grid-gutter-width/8*3 0;
    font-size: $font-size-h6;
  }
  &__caption,
  &__copyright {
    @include make-sm-column(6);
    * {
      display: inline-block;
    }
  }
  &__copyright {
    @include larger-than($screen-sm-min){
      text-align: right;
    }
  }
  video {
    width: 100%;
    height: auto;
  }
}