// Format blocks
#block-block-newsletter-abonnement {
  background-color: $color-white;
  padding: $vertical-gutter-width $grid-gutter-width;
}

// Language switer
#block-languageswitcher {
  cursor: pointer;
  position: relative;
  .active-lang {
    text-transform: uppercase;
    background-color: $color-gray;
    padding: 0 $grid-gutter-width/4;
    margin-right: $grid-gutter-width/4;
    line-height: 2.3em;
    color: $color-white;
    @include icon-after($fa-var-caret-down);
    &.open {
      @include icon-after($fa-var-caret-up);
    }
  }
  ul {
    position: absolute;
    right: $grid-gutter-width/4;;
    z-index: 100;
    display: none;
    background-color: $color-gray;
    padding-left: 9px; // Padding to match caret width
    &.open {
      display: block;
    }
    li {
      text-transform: uppercase;
      list-style: none;
      a {
        color: $color-white;
        padding-right: 25px; // Padding that matches caret
        line-height: 2.3em;

      }
    }
  }
}
#block-degov-account-menu {
  a {
    padding: $vertical-gutter-width/8 $grid-gutter-width/4;
  }
}