// Format some fields to be displayed next to each other
.field--type-file {
	padding-bottom: 1em;
	.file {
		display: inline;
		> span {
			border: none;
		}
		.file-icon, .file-link, .file-size {
			display: inline;
		}
	}
	.file-icon {
		display: inline-block !important;
		width: 43px;
		height: 43px;
	}
	.file--mime-application-pdf {
		.file-icon {
			background: url(../../img/sprite@2x_thumb_degov.png) !important;
			background-position-x: -250px !important;
			background-position-y: 0 !important;
			&:hover {
				background-position-y: -53px !important;
			}
		}
	}
	.file--mime-application-xls {
		.file-icon {
			background: url(../../img/sprite@2x_thumb_degov.png) !important;
			background-position-x: -339px !important;
			background-position-y: 0 !important;
			&:hover {
				background-position-y: -53px !important;
			}
		}
	}
	.file--mime-application-doc {
		.file-icon {
			background: url(../../img/sprite@2x_thumb_degov.png) !important;
			background-position-x: -294px !important;
			background-position-y: 0 !important;
			&:hover {
				background-position-y: -53px !important;
			}
		}
	}
	.file--mime-application-ppt {
		.file-icon {
			background: url(../../img/sprite@2x_thumb_degov.png) !important;
			background-position-x: -204px !important;
			background-position-y: 0 !important;
			&:hover {
				background-position-y: -53px !important;
			}
		}
	}
}


// Format some field to be in line
.field--name-field-address-element-zip,
.field--name-field-address-element-state {
	float: left;
	margin-right: 1ch;
}

// Format reference fields {
.field--name-field-home-page-contents {
	@include make-row();
	>.field--item {
		@include make-xs-column(12);
		@include make-sm-column(6);
		> article {
			@include content-box();
			h2 {
				font-size: $font-size-h3;
				margin-top: 0;
			}
		}
	}
}

// Make google maps field full width
.field--name-field-google-map-element-address {
	iframe {
		width: 100%;
	}
}

// Style link lists
.field--name-field-links-element-links {
	.field--item {
		a {
			@include icon-before('►');
			&:hover, &:focus {
				text-decoration: none;
			}
		}
	}
}


// Format citation
.field--name-field-citation-element-text {
	margin-top: $vertical-gutter-width;
	padding: $vertical-gutter-width $grid-gutter-width;
	margin: $vertical-gutter-width*2 0;
	font-size: $font-size-base;
	background-color: $gray-light;
	color: $gray;
	font-style: italic;
	@include icon-before($fa-var-angle-double-right, 0.5em);
	&:before {
		font-size: $font-size-large;
		margin-left: -1em;
		position: relative;
		bottom: -0.15em;
	}
	@include larger-than($screen-xs-min) {
		margin: $vertical-gutter-width*2 $grid-gutter-width;
		font-size: $font-size-large;
		&:before {
			font-size: $font-size-large*2;
			margin-left: -1em;
			position: relative;
			bottom: -0.15em;
		}
	}
	@include larger-than($screen-sm-min) {
		padding: $vertical-gutter-width*2 $grid-gutter-width*2;
		margin: $vertical-gutter-width*3 $grid-gutter-width*3;
	}
}

// Format gallery
.field--name-field-gallery-element-images {
	@include make-row();
	> .field--item {
		@include make-xs-column(6);
		@include make-md-column(4);
		@include make-md-column(3);
		padding-bottom: $vertical-gutter-width;
	}
}

.content table {
	width: 100%;
	td, th {
		padding: 0.25em;
	}
	td {
		border-bottom: 1px solid $gray-light;
		vertical-align: baseline;
	}
	th {
		border-bottom: 3px solid $color-gray;
	}
}

// Format captions
figcaption {
	text-align: center;
}