// Format title fields
.field--name-field-article-page-subtitle,
.field--name-field-article-page-teaser-stitle,
.field--name-field-article-page-teaser-title,
.field--name-field-event-page-stitle,
.field--name-field-event-page-teaser-stitle,
.field--name-field-event-page-teaser-title,
.field--name-field-home-page-mainarticle,
.field--name-field-next-page-stitle,
.field--name-field-section-page-subtitle,
.field--name-field-section-page-teaser-stitle,
.field--name-field-section-page-teaser-title,
.field--name-field-links-element-title,
.field--name-field-citation-element-title,
.field--name-field-downloads-element-title,
.field--name-field-gallery-element-title,
.field--name-field-text-element-title {
	font-weight: bold;
}

.field--type-string,
.field--type-text-long {
	padding: $vertical-gutter-width/2 0;
}

// Format some fields to be displayed next to each other
.field--name-field-mime-type {
	float: left;
	margin-right: $grid-gutter-width / 2;
}

// Format some field to be in line
.field--name-field-address-element-zip,
.field--name-field-address-element-state {
	float: left;
	margin-right: 1ch;
}

// Format reference fields {
.field--name-field-home-page-contents {
	@include make-row();
	>.field--item {
		@include make-xs-column(12);
		@include make-sm-column(6);
		> article {
			@include content-box();
			h2 {
				font-size: $font-size-h3;
				margin-top: 0;
			}
		}
	}
}

// Make google maps field full width
.field--name-field-google-map-element-address {
	iframe {
		width: 100%;
	}
}

// Style link lists
.field--name-field-links-element-links {
	.field--item {
		a {
			@include icon-before('►');
			&:hover, &:focus {
				text-decoration: none;
			}
		}
	}
}


// Format citation
.field--name-field-citation-element-text {
	margin-top: $vertical-gutter-width;
	padding: $vertical-gutter-width*2 $grid-gutter-width*2;
	margin: $vertical-gutter-width*2 $grid-gutter-width*-2;
	font-size: $font-size-large;
	background-color: $gray-light;
	color: $gray;
	font-style: italic;
	@include icon-before($fa-var-angle-double-right, 0.5em);
	&:before {
		font-size: $font-size-large*2;
		margin-left: -1em;
		position: relative;
		bottom: -0.15em;
	}
}

// Format gallery
.field--name-field-gallery-element-images {
	@include make-row();
	> .field--item {
		@include make-xs-column(6);
		@include make-md-column(4);
		@include make-md-column(3);
		padding-bottom: $vertical-gutter-width;
	}
}

.content table {
	width: 100%;
	td, th {
		padding: 0.25em;
	}
	td {
		border-bottom: 1px solid $gray-light;
		vertical-align: baseline;
	}
	th {
		border-bottom: 3px solid $color-gray;
	}
}