// Styles for navigation elements



// Styles for breadcrumb element
.breadcrumb {
	background: none;
	padding: ($line-height-computed / 2) 0;
	margin: 0;
}

// Add space to tabs
.nav-tabs {
	margin-bottom: $line-height-computed;
}

.navbar {
	margin-bottom: floor($line-height-computed / 2);
}
.navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: $color-gray;
}

.navbar-default {
	background: none;
	border: none;
	.navbar-toggle {
		clear: both;
		border-color: $color-gray;
		.icon-bar {
			background-color: $color-gray;
		}
	}
}

.dropdown-menu {
	left: auto;
	right: 0;
	> li  > a {
		line-height: $line-height-computed * 1.5;
	}
	.dropdown-parent-link {
		font-weight: bold;
	}
}


.header-wrapper{
	@include larger-than($screen-tablet) {
		// Right align navigation
		.navbar-header {
			width: 100%;
			#block-degov-main-menu {
				float: right;
				font-size: $font-size-large;
				font-weight: 600;
			}
		}
	}
}