// Styles for navigation elements

// Position logo and sitename
.navbar {
	.logo {
		img {
			vertical-align: inherit;
		}
	}
	.name {
		color: $navbar-default-brand-color;
    &:hover,
    &:focus {
      color: $navbar-default-link-hover-color;
      background-color: $navbar-default-brand-hover-bg;
      text-decoration: none;
    }
	}
	.nav {
		a {
			padding-left: 0;
		}
	}
}

// Styles for breadcrumb element
.breadcrumb {
	background: none;
	padding: ($line-height-computed / 2) 0;
	margin: 0;
}

// Add space to tabs
.nav-tabs {
	margin-bottom: $line-height-computed;
}