// Styles for navigation elements



// Styles for breadcrumb element
.breadcrumb {
	background: none;
	padding: ($line-height-computed / 2) 0;
	margin: 0;
}

// Add space to tabs
.nav-tabs {
	margin-bottom: $line-height-computed;
}

.navbar {
	margin-bottom: floor($line-height-computed / 2);
}
.navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}

.navbar-default {
	background: none;
	border: none;
}

.dropdown-menu > li  > a {
	line-height: $line-height-computed * 1.5;
	//padding: 0 $grid-gutter-width;
}
