// Styles for nodes

article.full {
  &::before {
    content: '';
    display: block;
    height: 4px;
    width: $grid-gutter-width * 2;
    margin-bottom: $vertical-gutter-width/2;
  }
  &.article-color-red {
    &::before {
      background: $color-red;
    }
  }
  &.article-color-green {
    &::before {
      background: $color-green;
    }
  }
  &.article-color-blue {
    &::before {
      background: $color-blue;
    }
  }
  &.article-color-gray {
    &::before {
      background: $color-gray;
    }
  }
  &.article-color-yellow {
    &::before {
      background: $color-yellow;
    }
  }
}

article.teaser {
  @include content-box();
  margin-bottom: $vertical-gutter-width;
}

// Format teaser title
article.teaser .content .field--type-string h2 {
  &::after {
    content: '';
    display: block;
    height: 4px;
    width: $grid-gutter-width * 2;
    margin-bottom: $vertical-gutter-width/2;
    margin-top: $vertical-gutter-width/2;
  }
}
article.teaser.article-color-red .content .field--type-string h2  {
  &::after {
    background: $color-red;
  }
}
article.teaser.article-color-green .content .field--type-string h2  {
  &::after {
    background: $color-green;
  }
}
article.teaser.article-color-blue .content .field--type-string h2  {
  &::after {
    background: $color-blue;
  }
}
article.teaser.article-color-gray .content .field--type-string h2  {
  &::after {
    background: $color-gray;
  }
}
article.teaser.article-color-yellow .content .field--type-string h2  {
  &::after {
    background: $color-yellow;
  }
}

