// Give some space to paragraph fields
.paragraph {
	//@include content-box();
	margin: $vertical-gutter-width*2 0;
}

.paragraph--type--faq-element {
	cursor: pointer;
	margin: $vertical-gutter-width/4 0;
	.field--label {
		display: none;
	}
	.field--name-field-faq-element-question {
		font-weight: bold;
		.field--item {
			@include icon-after($fa-var-caret-down);
			&::after {
				color: $color-blue;
			}
		}
		&.active .field--item {
			@include icon-after($fa-var-caret-up);
		}
	}
	.field--name-field-faq-element-answer {
		display: none;
		&.active {
			display: block;
		}
	}
}

// Paragraph layout for Image-Text
.paragraph--type--image-text-element {
	@include make-row();
	// Standard layout for alignment left
	.field--name-field-image-text-element-image,
	.field--name-field-image-text-element-text {
		@include make-xs-column(12);
		@include make-sm-column(6);
	}
	// Centered layout
	&.alignment-center {
		.field--name-field-image-text-element-image,
		.field--name-field-image-text-element-text {
			@include make-sm-column(12);
		}
	}
	// Alignment right
	&.alignment-right {
		.field--name-field-image-text-element-image {
			@include make-sm-column-push(6);
		}
		.field--name-field-image-text-element-text {
			@include make-sm-column-pull(6);
		}
	}

}

// Paragraph layout for slider paragraph
.paragraph--type--slider-element {
	margin: 0;
	position: relative;
	img {
		width: 100%;
		height: auto;
		display: block;
	}
	> a {
		position: absolute;
		bottom: 0;
		font-size: $font-size-h1;
		font-family: $headings-font-family;
		background: $color-white;
		padding: 0 0.5em;
		display: inline-block;
			bottom: 1em;
		text-decoration: none;
			margin-left: 0;
	}
	@include larger-than($screen-sm-min) {
		> a {
		bottom: 5em;
		margin-left: 16.666667%;
		}	
	}
}