// Give some space to paragraph fields
.paragraph {
	//@include content-box();
	margin: $vertical-gutter-width*2 0;
}

.paragraph--type--faq-element {
	cursor: pointer;
	margin: $vertical-gutter-width/4 0;
	.field--label {
		display: none;
	}
	.field--name-field-faq-element-question {
		font-weight: bold;
		.field--item {
			@include icon-after($fa-var-caret-down);
			&::after {
				color: $color-blue;
			}
		}
		&.active .field--item {
			@include icon-after($fa-var-caret-up);
		}
	}
	.field--name-field-faq-element-answer {
		display: none;
		&.active {
			display: block;
		}
	}
}

// Paragraph layout for Image-Text
.paragraph--type--image-text-element {
	@include make-row();
	// Standard layout for alignment left
	.field--name-field-image-text-element-image,
	.field--name-field-image-text-element-text {
		@include make-xs-column(12);
		@include make-sm-column(6);
	}
	// Centered layout
	&.alignment-center {
		.field--name-field-image-text-element-image,
		.field--name-field-image-text-element-text {
			@include make-sm-column(12);
		}
	}
	// Alignment right
	&.alignment-right {
		.field--name-field-image-text-element-image {
			@include make-sm-column-push(6);
		}
		.field--name-field-image-text-element-text {
			@include make-sm-column-pull(6);
		}
	}

}

// Paragraph layout for slider paragraph
.paragraph--type--slider-element {
	margin: 0;
	position: relative;
	img {
		width: 100%;
		height: auto;
		display: block;
	}
	.container {
		position: relative;
		height: $vertical-gutter-width;
		.slider-text-wrapper {
			position: absolute;
			display: inline-block;
			width: 100%;
			//background: $color-white-transparent;
			background: $color-white;
			left: 0;
			bottom: 0;
			font-size: $font-size-h1;
			padding: 0.5em;
		}
		@include smaller-than($screen-desktop) {
			height: auto;
			.slider-text-wrapper {
				position: relative;
				left: auto;
				bottom: auto;
			}
		}
		.slider-text {
			float: left;
			max-width: 80%;
			a {
				font-family: $headings-font-family;
				text-decoration: none;
				color: $color-blue;
				&:hover {
					color: $text-color;
				}
			}
		}
		.slider-prev, .slider-next {
			color: $color-blue;
			cursor: pointer;
			width: $grid-gutter-width;
		}
		.slider-prev {
			float: left;
			text-align: left;
			@include icon-before($fa-var-angle-left, 0.5em);
		}
		.slider-next {
			float: right;
			text-align: right;
			@include icon-after($fa-var-angle-right, 0.5em);
		}
		@include smaller-than($screen-tablet) {
			.slider-text a {
				font-size: $font-size-h3;
			}
		}
	}
	.field--name-field-image-copyright,
	.field--name-field-image-subtitle {
		background: $color-white-transparent;
		padding: 0 0.5em;
	}
	.field--name-field-image-copyright {
		position: absolute;
		top: $vertical-gutter-width * 2;
		right: $grid-gutter-width;
	}
	.field--name-field-image-subtitle {
		position: absolute;
		top: $vertical-gutter-width;
		right: $grid-gutter-width;
	}
}
