.slick-prev,
.slick-next {
  width: $grid-gutter-width;
  height: $grid-gutter-width;
  top: 25%; 
  appearance: none;
  background:transparent;
  border: 0;
  position: absolute;
  z-index: 9;
  top: 50%;
  transform: translate(0,-50%);
  outline: none;
}
.slick-prev {
  @include icon($fa-var-arrow-left);
  left: $grid-gutter-width;
}
.slick-next {
  @include icon($fa-var-arrow-right);
  right: $grid-gutter-width;
}
.slick-next:before,
.slick-prev:before {
  font-size: $grid-gutter-width;
  color: $body-bg;
  text-shadow: 5px 5px 10px rgba(0,0,0,0.75);
}