// Reduce spacing below page header
.page-header {
	padding: $vertical-gutter-width/2 0;
	border-bottom: 0;
  margin: 0;
	max-width: 20em;
  //&:after {
  //  content: '';
  //  display: block;
  //  height: $title-underline-height;
  //  width: 40px;
  //  background: $color-blue;
  //  margin-top: ($vertical-gutter-width / 2);
	//}
}
