// Views styles

// Related content view
#block-degov-views-block-related-content-block-1 {
  @include make-row();
  clear: both;
  .block-title {
    padding-left: $grid-gutter-width / 2;
  }
  .views-field {
    @include make-sm-column(6);
    > .field-content > article {
      //height: 30em;
      //overflow: hidden;
      margin-bottom:  $vertical-gutter-width;
      background-color: $color-white;
      padding-left: $grid-gutter-width;
      padding-right: $grid-gutter-width;
      @include content-box($color-gray);
    }
  }
}

// Teaser view
.view-subpages-teaserview {
  padding-top: $vertical-gutter-width/2;
  .view-content {
    @include make-row();
  }
  .views-row {
     @include make-sm-column(6);
      padding-bottom: $vertical-gutter-width/2;
  }
}