.calendar--widget{
  margin: 0 $grid-gutter-width/-2 $grid-gutter-width/2;
  background-color: $color-white;
  padding-bottom: $grid-gutter-width/2;
  .pager{
    margin-top: 0;
    margin-bottom: $grid-gutter-width/4;
    padding-top: $grid-gutter-width/4;
    &__item--current{
      color: $brand-secondary;
      font-size: $font-size-h2;
    }
  }
  ul{
    padding: 0;
    margin:0;
  }
  .pager__item{
    a{border: 0;}
    &--previous{
      font-size: 0;
      float: left;
      a{
        @include icon-before($fa-var-angle-double-left);
        &:before{
          font-size: $font-size-small;
          line-height: $font-size-h2;
        }
      }
    }
    &--next{
      float: right;
      font-size: 0;
      a{
        @include icon-before($fa-var-angle-double-right);
        &:before{
          font-size: $font-size-small;
          line-height: $font-size-h2;
        }
      }
    }
  }
  table{
    tr{
      background: $color-white;
      border-bottom: 0;
      td{
        text-align: center;
        border: 0;
        font-size: $font-size-h3;
        &.current-week{
          background: $brand-secondary;
          color: $color-white;
        }
        &.days{
          font-size: $font-size-small;
          font-weight: bold;
          padding: $grid-gutter-width/4;
          color: $brand-secondary;
        }
        &.today{
          background: $degov-green;
          color: $color-white;
        }
        &.has-events{
          &:hover,
          &:focus{
            background: $degov-green;
          }
        }
      }
    }
  }
}

.calendar__title{
	font-size: $font-size-h3;
  color: $brand-secondary;
	display: flex;
	padding: 20px;
	background: $deGOV-light;
	margin-top: $grid-gutter-width/-2;
	@include smaller-than($screen-xs-max){
		word-break: break-all;
	}
	i{
		color: $color-white;
		background-color: $brand-secondary;
		min-width: 45px; // To always keep width - responsive
		width: 45px;
		height: 45px;
		display: flex;
		align-items: center;
		justify-content: center;
		float: left;
		margin-right: $padding-base-horizontal + 5;
    .fa{
      border: 0;
    }
	}
	h2{
		margin: 0;
		line-height: 1;
	}
	.sub-title{
		font-weight: bold;
		display: block;
	}
}

.ui-datepicker{
  .ui-datepicker-header{
    background: $color-white;
    .ui-datepicker-next{
      margin: 9px;
     span{ display: none;}
        @include icon-before($fa-var-angle-double-right);
        &:before{
          font-size: $font-size-small;
          line-height: $font-size-h2;
          width: 92%;
          text-align: center;
          margin: 0;
        }
    }
    .ui-datepicker-prev{
      margin: 9px;
      span{ display: none;}
        @include icon-before($fa-var-angle-double-left);
        &:before{
          font-size: $font-size-small;
          line-height: $font-size-h2;
          width: 92%;
          text-align: center;
          margin: 0;
        }
    }
    .ui-datepicker-title{
      color: $brand-primary;
      font-size: $font-size-h2;
      font-weight: normal;
    }
  }
  tbody{
    tr{
      background: $color-white;
      border-bottom: 0;
      td{
        a{
          text-align: center;
          &.ui-state-default{
            border: 0;
            background: none;
            &:hover,
            &:focus {
              background: $degov-green;
              color: $color-white;
            }
          }
          &.ui-state-highlight{
            background: $degov-green;
            color: $color-white;
          }
        }
      }
    }
  }
}
