// Add spacing for footer
.footer-wrapper {
  background-color: $gray-lighter;
}
.footer {
  margin-top: 0;
  padding-top: $vertical-gutter-width;
  padding-bottom: $vertical-gutter-width;
  border-top: none;
}

.region-footer {
  @include make-row();
}

.region-page-outro {
  padding-top: $vertical-gutter-width / 2;
  padding-bottom: $vertical-gutter-width / 2;
  #block-degov-footer,
  #block-degov-account-menu {
    @include larger-than($screen-phone) {
      float: right;
      margin-right: $grid-gutter-width / 2;
    }
  }
}

.region-footer, .region-page-outro {
  .menu {
    margin-left: -15px; // from $nav-link-padding
    li {
      display: inline-block;
      a:hover,
      a:active,
      a:focus {
        text-decoration: underline;
      }
    }
  }
  #block-twitterblock, #block-block-newsletter-abonnement {
    @include make-xs-column(12);
    @include make-sm-column(6);
  }
}

.region-footer .block-twitter-block {
  padding-left: 0 !important;
  iframe {
    width: 100% !important;
    border-top: 4px solid $color-gray !important;
  }
}


