// Add spacing for footer
.footer-wrapper {
  background-color: $gray-lighter;
}
.footer {
  margin-top: 0;
  padding-bottom: $vertical-gutter-width;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  border-top: none;
}

.region-page-outro {
  padding-top: $vertical-gutter-width / 2;
  padding-bottom: $vertical-gutter-width / 2;
  #block-degov-footer,
  #block-degov-account-menu {
    @include larger-than($screen-phone) {
      float: right;
      margin-right: $grid-gutter-width / 2;
    }
  }
}

@include larger-than($screen-sm-min) {
  .region-footer {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
    .block {
      flex: 1;
      margin: 0 $grid-gutter-width/2;
    }
  }
}

.region-footer,
.region-page-outro {
  .menu {
    margin-left: -15px; // from $nav-link-padding
    li {
      display: inline-block;
      a:hover,
      a:active,
      a:focus {
        text-decoration: underline;
      }
    }
  }
}
