// Styles for intro, header, and top bar regions


// layout for the navbar
.header-wrapper .name {
	display: none;
}
.navbar-secondary {
	display: none;
	ul {
		margin-bottom: 0;
	}
}
.navbar-branding {
	float: left;
	.logo img {
		height: 100%;
		max-height: floor($navbar-height*0.75);
		width: auto;
		margin-top: floor($navbar-height*0.125);
	}
}
.navbar-header {
	float: right;
}
.header-wrapper .navbar {
	margin-bottom: 0;
}
.navbar-collapse {
	clear: both;
	.navbar-nav {
		margin: 0;
	}
}

// anything larger than mobile menu breakpoint
// in effect the same as screen-sm-min –
// but could be something else
@include larger-than($grid-float-breakpoint) {
	.navbar-collapse {
		clear: none;
	}
}

// larget than mobile
@include larger-than($screen-sm-min) {
	body {
		margin-top: 0;
		padding-top: $navbar-height*2 !important;
	}
	.header-wrapper {
		position: fixed;
		z-index: 9999;
		left: 0;
		right: 0;
		top: 0;
		background: $color-white;
		box-shadow: 0px 0px 0px transparent;
		transition: box-shadow 200ms ease-in-out;
		.container {
			padding-left: 0;
			padding-right: 0;
		}
	}
	.scroll.scroll-past-navbar {
		.navbar-secondary {
			max-height: 0;
		}
	}
	.scroll {
		.header-wrapper {
			box-shadow: 0px 0px 10px rgba(0,0,0,.2);
		}
		.navbar-secondary {
			margin-top: 0;
			margin-bottom: 0;
			overflow: hidden;
		}
		.navbar-branding .logo img {
			max-height: floor($navbar-height*0.75);
			margin-top: floor($navbar-height*0.125);
		}
	}
	.navbar-branding .logo img {
		margin-top: floor($navbar-height*0.75);
		max-height: $navbar-height;
		transition: max-height 200ms ease-in-out, margin-top 200ms ease-in-out;
	}
	.navbar-header {
		display: none;
	}
	.navbar-secondary {
		display: block;
		float: right;
		max-height: 5em;
		margin-top: 0.25em;
		margin-bottom: 0.25em;
		transition: max-height 200ms ease-in-out, margin 200ms ease-in-out;
	}
	.region-navigation > .block {
		display: inline-block;
		vertical-align: middle;
	}
	.navbar-collapse {
		float: right;
		clear: right;
	}
}

// search block
.block-search {
	width: $line-height-computed*1.5;
	height: $line-height-computed*1.5;
	position: relative;

	form {
		position: absolute;
		z-index: 99999;
		right: 0;
	}
	.button {
		background-color: transparent;
		@include icon($fa-var-search);
		outline: none;
		&:before {
			color: $link-color;
		}
	}
	form .input-group-btn:last-child > .button {
		border-top-left-radius: $border-radius-base;
		border-bottom-left-radius: $border-radius-base;
	}
	.form-search {
		float: right;
		width: 0;
		opacity: 0;
		transition: width 200ms ease-in-out, opacity 200ms ease-in-out;
		padding: 0;
	}
}
.expanded-search .block-search {
	overflow: visible;
	// padding plus borders …
	width: $line-height-computed*10.5 + ($padding-base-horizontal * 2) + 3px;
	.form-search {
		width: $line-height-computed*10;
		padding: $padding-base-vertical $padding-base-horizontal;
		opacity: 1;
	}
	form .input-group-btn:last-child > .button {
		border-top-left-radius: inherit;
		border-bottom-left-radius: inherit;
	}
}


/*
// Styles for navbar
.header-wrapper {
	background-color: $color-white;
	z-index: 1 !important;
}
.main-wrapper, .footer-wrapper {
	position: relative;
	z-index: 0;
}

// simplify on mobile
.block-social-media-links,
.search-block-form,
.block-language {
	display: none;
}
// desktop layout
@include larger-than($screen-sm-min) {
	.block-social-media-links,
	.search-block-form,
	.block-language {
		display: block;
	}
	.header-wrapper {
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
	}
	.toolbar-fixed .header-wrapper {
		top: 39px;
	}
	body {
		padding-top: 95px !important;
	}
	.toolbar-fixed {
		padding-top: 130px !important;
	}
	.scroll .header-wrapper {

	}
}


.header-wrapper .branding {
	float: left;
	// @TODO: refactor this:
	position: relative;
	top: $vertical-gutter-width;
	margin-left: $grid-gutter-width/2;
	img {
		max-height: $vertical-gutter-width;
		width: auto;
	}
	@include larger-than($screen-sm-min) {
		margin-left: 0;
		img {
			max-height: 99999px;
		}
	}
}
.header-wrapper {
	#block-degov-socialmedialinks,
	#block-languageswitcher {
		@include smaller-than($screen-tablet) {
			padding-top: $vertical-gutter-width / 4 * 3;
		}
	}
	#block-searchform {
		@include smaller-than($screen-tablet) {
			margin-right: $grid-gutter-width / 2;
		}
	}
}

.navbar-collapse {
	.navbar-nav {
		a {
			text-align: center;
			&.dropdown-toggle {
				font-weight: bold;
			}
		}
		// Float right for larger screens
		@include larger-than($screen-tablet) {
			float: right;
			a {
				text-align: left;
			}
		}

	}
}

//Positionin of branding, search, sm
.header-wrapper {
	a {
		color: $color-gray;
		&:hover {
			color: $color-blue;
		}
	}
	#block-languageswitcher {
		float: right;
	}
	#block-degov-socialmedialinks {
		text-align: right;
	}
	.search-block-form {
		float: right;
	}
	@include larger-than($screen-tablet) {
		#block-languageswitcher,
		#block-degov-socialmedialinks {
			text-align: left;
		}
		#block-languageswitcher,
		#block-degov-socialmedialinks {
			float: right;
		}
		#block-degov-socialmedialinks {
			padding-right: $grid-gutter-width / 4;
		}
	}
	.search-block-form {
		width: 50px;
		button {
			background-color: transparent;
			color: $color-gray;
			border: none;
			&:hover {
				color: $color-blue;
			}
		}
		.form-search {
			display: none;
			border-radius: 0;
		}
		&.active {
			width: 300px;
			.form-search {
				display: block;
			}
		}
	}
}*/