// Styles for intro, header, and top bar regions

// Styles for navbar
.header-wrapper {
	background-color: $color-white;
}
.main-wrapper {
	position: relative;
	z-index: -1;
}
.is-sticky header {
	#block-searchform,
	#block-degov-socialmedialinks,
	#block-languageswitcher{
		display: none;
	}
	.branding {
		position: relative;
		top: $vertical-gutter-width;
		img {
			max-height: $vertical-gutter-width;
			width: auto;
		}
	}
}
.header-wrapper .name {
	display: none;
}
.header-wrapper .branding {
	margin-top: -0.75em;
	@include smaller-than($screen-tablet) {
		padding-left: $grid-gutter-width / 2;
	}
}

.navbar-collapse {
	.navbar-nav {
		a {
			text-align: center;
			&.dropdown-toggle {
				font-weight: bold;
			}
		}
		// Float right for larger screens
		@include larger-than($screen-tablet) {
			float: right;
			a {
				text-align: left;
			}
		}

	}
}

.branding {
	@include smaller-than($container-tablet) {
		padding-bottom: $vertical-gutter-width / 2;
	}
}

//Positionin of branding, search, sm
.header-wrapper {
	a {
		color: $color-gray;
		&:hover {
			color: $color-blue;
		}
	}
	.branding {
		float: left;
	}
	#block-languageswitcher,
	.search-block-form,
	#block-degov-socialmedialinks {
		float: right;
	}

	#block-degov-socialmedialinks {
		padding-right: $grid-gutter-width / 4;
	}
	.search-block-form {
		width: 50px;
		button {
			background-color: transparent;
			color: $color-gray;
			border: none;
			&:hover {
				color: $color-blue;
			}
		}
		.form-search {
			display: none;
			border-radius: 0;
		}
		&.active {
			width: 300px;
			.form-search {
				display: block;
			}
		}
	}
}

// Position of language and login
.region-page-intro {
	#block-languageswitcher, #block-degov-account-menu {
		float: right;
	}
}
.page-intro-wrapper {
	margin-bottom: $vertical-gutter-width/2;
}
