// Styles for intro, header, and top bar regions

// Styles for navbar
.header-wrapper {
	background-color: $color-white;
	z-index: 1 !important;
}
.main-wrapper, .footer-wrapper {
	position: relative;
	z-index: 0;
}

// simplify on mobile
.block-social-media-links,
.search-block-form,
.block-language {
	display: none;
}
@include larger-than($screen-sm-min) {
	.block-social-media-links,
	.search-block-form,
	.block-language {
		display: block;
	}
	.header-wrapper {
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
	}
	.toolbar-fixed .header-wrapper {
		top: 39px;
	}
	body {
		padding-top: 95px !important;
	}
	.toolbar-fixed {
		padding-top: 130px !important;
	}
}

.header-wrapper .name {
	display: none;
}
.header-wrapper .branding {
	float: left;
	// @TODO: refactor this:
	position: relative;
	top: $vertical-gutter-width;
	margin-left: $grid-gutter-width/2;
	img {
		max-height: $vertical-gutter-width;
		width: auto;
	}
	@include larger-than($screen-sm-min) {
		margin-left: 0;
		img {
			max-height: 99999px;
		}
	}
}
.header-wrapper {
	#block-degov-socialmedialinks,
	#block-languageswitcher {
		@include smaller-than($screen-tablet) {
			padding-top: $vertical-gutter-width / 4 * 3;
		}
	}
	#block-searchform {
		@include smaller-than($screen-tablet) {
			margin-right: $grid-gutter-width / 2;
		}
	}
}

.navbar-collapse {
	.navbar-nav {
		a {
			text-align: center;
			&.dropdown-toggle {
				font-weight: bold;
			}
		}
		// Float right for larger screens
		@include larger-than($screen-tablet) {
			float: right;
			a {
				text-align: left;
			}
		}

	}
}

//Positionin of branding, search, sm
.header-wrapper {
	a {
		color: $color-gray;
		&:hover {
			color: $color-blue;
		}
	}
	#block-languageswitcher {
		float: right;
	}
	#block-degov-socialmedialinks {
		text-align: right;
	}
	.search-block-form {
		float: right;
	}
	@include larger-than($screen-tablet) {
		#block-languageswitcher,
		#block-degov-socialmedialinks {
			text-align: left;
		}
		#block-languageswitcher,
		#block-degov-socialmedialinks {
			float: right;
		}
		#block-degov-socialmedialinks {
			padding-right: $grid-gutter-width / 4;
		}
	}
	.search-block-form {
		width: 50px;
		button {
			background-color: transparent;
			color: $color-gray;
			border: none;
			&:hover {
				color: $color-blue;
			}
		}
		.form-search {
			display: none;
			border-radius: 0;
		}
		&.active {
			width: 300px;
			.form-search {
				display: block;
			}
		}
	}
}