// Style for navbar layout

.navbar.container {
  margin-bottom: 0;
  max-width: $screen-phone;
	@include larger-than($screen-tablet) {
	  max-width: $screen-tablet;
	}
	@include larger-than($screen-desktop) {
	  max-width: $screen-desktop;
	}
	@include larger-than($screen-lg-desktop) {
	  max-width: $screen-lg-desktop;
	}
	// Right align navigation
	.navbar-header {
		width: 100%;
		nav {
			float: right;
			font-size: $font-size-large;
		}
	}
}
