//eu cookie compliance overrides
#sliding-popup {
  background-color: $color-gray !important;
  .popup-content {
    #popup-text {
      h2 {
        font-family: $font-family-base;
        font-size: $font-size-large;
        font-weight: normal;
      }
      p {
        font-size: $font-size-small;
        font-weight: normal;
      }
    }
    #popup-buttons button {
      display: inline-block;
      margin-bottom: 0;
      font-weight: normal;
      text-align: center;
      vertical-align: middle;
      touch-action: manipulation;
      cursor: pointer;
      background-image: none;
      border: 1px solid transparent;
      white-space: nowrap;
      padding: 4px 12px;
      font-size: $font-size-small;
      line-height: $line-height-base;
      border-radius: 4px;
      user-select: none;
      box-shadow: none;
      background: none;
      font-family: $font-family-base;
      text-shadow: none;
      margin-top: $vertical-gutter-width/4;
      @include button-variant($gray-base, $color-white, $color-gray);
    }
  }
}

// Styles for slick slider
// Loading
.banner-wrapper {
  //background: url(../../img/reload_gray.svg) center center no-repeat;
  min-height: $vertical-gutter-width * 4;
}
.banner-wrapper .paragraph--type--slider-element {
  opacity: 0;
  position: absolute;
}
.banner-wrapper.slick-initialized .paragraph--type--slider-element {
  opacity: 1;
  position: relative;
  //transition: opacity 0.5s ease-in;
}

// Slick arrows are disabled, but if they are enabled these are the styles
.slick-arrow {
  background: $color-white-transparent;
  &:hover,
  &:focus,
  &:active {
    background: $gray-light;
  }
  &.slick-next {
    &:before {
      content: "\f105";
    }
  }
  &.slick-prev {
    &:before {
      content: "\f104";
    }
  }
  &.slick-next, &.slick-prev {
    &:before {
      font-size: $font-size-h3;
      color: $color-blue;
      text-shadow: none;
    }
  }
}

// Scroll to top
.scroll-to-top {
  position: fixed;
  bottom: $vertical-gutter-width;
  right: $vertical-gutter-width;
  @include icon-before($fa-var-angle-up, 0  );
  background-color: $color-gray;
  color: $color-white;
  font-size: $font-size-h3;
  padding: 0 0.5em;
  cursor: pointer;
  opacity:0;
  transition:opacity 0.5s linear;
}
.scroll .scroll-to-top {
  opacity: 1;
}
