.node-reference {

  .teaser {
    border-bottom: 1px solid $gray-light;
  }

  .paragraph__content {
    padding-top: 0;
    padding-bottom: 0;
  }

  .teaser-link {
    color: $text-color;

    &:hover {
      color: $link-hover-color;
      text-decoration: none;
    }

    p, span {
      font-weight: normal;
    }
  }

  .teaser-content {
    padding: $grid-gutter-width/2;
  }

  .odd {

    .teaser-image {
      float: left;
    }
  }

  .even {

    .teaser-image {
      float: right;
    }
  }
}