// Styles for frontpage


// Hide normal node title
.page-node-type-home-page .region-content .page-header {
  display: none;
}

//override top padding
.page-node-type-home-page .main-wrapper {
  padding-top: 0;
}
.page-node-type-home-page .main-container {
	background: transparent;
}
.page-node-type-home-page .region-footer .block {
  @include content-box($color-gray);
  margin: 0 $grid-gutter-width/2;
}

@include larger-than($screen-sm-min) {
  .page-node-type-home-page .region-footer {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
    .block {
      flex: 1;
      margin: 0 $grid-gutter-width/2;
    }
  }
}

.slick-arrow {
  background: $color-white-transparent;
  &:hover,
  &:focus,
  &:active {
    background: $gray-light;
  }
  &.slick-next, &.slick-prev {
    &:before {
      font-size: $font-size-h3;
      color: $color-blue;
      text-shadow: none;
    }
  }
}
