.media-contact{
    font-size: $font-size-base;
    line-height: 1.3;
    word-break: break-all;
    hyphens: auto;
    margin: -1*($grid-gutter-width/2);
    padding: $grid-gutter-width/2;
    padding-top: 0;
    background-color: $brand-secondary;
    color: $color-white;
    &__position{

    }
    &__title{
        font-weight: bold;
        font-size: $font-size-h4;
    }
    &__image-wrapper{
        padding: 0;
        margin: 0 0 $grid-gutter-width/2 0;
    }
    &__info{
        div{
            margin-bottom: $grid-gutter-width/8;
        }
        a{
            color: $color-white;
        }
    }
    .image__caption,.image__copyright{
        display: none;
    }
}

aside{
    .media-contact{
        &__position{
            display: none;
        }
        &__info a{
            font-weight: normal;
        }
    }
}
.region-content{
    .media-contact{
        padding: $grid-gutter-width/2;
        background-color: $color-white;
        color: $text-color;
        margin: 0;
        + .media-contact {
            border-top: 1px solid $color-gray;
        }
        &__image-wrapper{
           @include make-md-column(4);
           margin-bottom: 0;
        }
        &__position{
            color: $brand-secondary;
            font-weight: bold;
            margin-bottom: $padding-base-vertical*5;
            margin-top: 0;
        }
        &__info{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-self: center;
            @include make-md-column(8);
            a{
              color: $brand-secondary;
            }
        }
    }
}
