// Add spacing for footer
.footer-wrapper {
  background-color: $gray-lighter;
}
.footer {
  margin-top: 0;
  padding-bottom: $vertical-gutter-width;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  border-top: none;
}

.region-page-outro {
  padding-top: $vertical-gutter-width / 2;
  padding-bottom: $vertical-gutter-width / 2;
  // @TODO replace ids with block classes
  #block-degov-footer,
  #block-degov-account-menu {
    @include larger-than($screen-phone) {
      float: right;
      margin-right: $grid-gutter-width / 2;
    }
  }
}

.region-footer .menu,
.region-page-outro .menu {
  margin-left: -15px; // from $nav-link-padding
}
.region-footer .menu li,
.region-page-outro .menu li {
  display: inline-block;
  a:hover,
  a:active,
  a:focus {
    text-decoration: underline;
  }
}
