// Styles for intro, header, and top bar regions


// layout for the navbar
.header-wrapper .name {
	display: none;
}

.region-navigation > .block {
	display: inline-block;
	vertical-align: middle;
}

.navbar-branding {
	float: left;
	.logo img {
		max-width: 120px;
		height: auto;
		margin-top: floor($navbar-height*0.225);
	}
}
.container > .navbar-header {
	float: right;
	margin-left: 0;
}

.header-wrapper .navbar {
	margin-bottom: 0;
}
.header-wrapper .navbar li a {
	color: $color-gray;
	&:hover,
	&:focus,
	&:active {
		color: $color-blue;
		text-decoration: none;
	}
}
.header-wrapper .navbar .fa-2x {
	font-size: 1.5em;
}
.header-wrapper .navbar .region-navigation-collapsible li a {
	color: $color-blue;
	&:hover,
	&:focus,
	&:active {
		color: $color-blue;
	}
}
.header-wrapper .navbar .region-navigation-collapsible > nav > ul > li > a {
	font-weight: bold;
}

.header-wrapper{
	@include larger-than($screen-tablet) {
		// Right align navigation
		.navbar-header {
			width: 100%;
			#block-degov-main-menu {
				float: right;
				font-size: $font-size-large;
				font-weight: 600;
			}
		}
	}
}

.navbar-collapse {
	clear: both;
	.navbar-nav {
		margin: 0;
	}
	// anything larger than mobile menu breakpoint
	// in effect the same as screen-sm-min –
	// but could be something else
	@include larger-than($grid-float-breakpoint) {
		clear: none;
	}
}

// larget than mobile
@include larger-than($screen-sm-min) {
	body {
		margin-top: 0;
		padding-top: $navbar-height*2 !important;
	}
	.header-wrapper {
		position: fixed;
		z-index: 99;
		left: 0;
		right: 0;
		top: 0;
		background: $color-white;
		box-shadow: 0px 0px 0px transparent;
		transition: box-shadow 200ms ease-in-out;
	}
	.header-wrapper .container {
		padding-left: 0;
		padding-right: 0;
	}
	.navbar-branding .logo img {
		margin-top: floor($navbar-height*0.75);
		max-width: inherit;
		max-height: $navbar-height;
		transition: max-height 200ms ease-in-out, margin-top 200ms ease-in-out;
	}
	.navbar-header {
		display: none;
	}
	.navbar-secondary {
		max-height: 5em;
		transition: max-height 200ms ease-in-out, margin 200ms ease-in-out;
	}
	.navbar-collapse {
		float: right;
		clear: right;
	}

	// scrolling
	.is-scrolling.is-scrolling-past-navbar .navbar-secondary {
		max-height: 0;
	}
	.is-scrolling {
		.header-wrapper {
			box-shadow: 0px 0px 10px rgba(0,0,0,.2);
		}
		.navbar-secondary {
			margin-top: 0;
			margin-bottom: 0;
			overflow: hidden;
		}
		.navbar-branding .logo img {
			max-height: floor($navbar-height*0.75);
			margin-top: floor($navbar-height*0.125);
		}
	}
}