{#
/**
 * @file
 * Default theme implementation to present a media entity.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
<article class="image">
  <div class="image__image">{{ content.image }}</div>
  <div class="image__info">
    <div class="image__caption">{{ content.field_image_caption|field_value }}</div>
    <div class="image__copyright">
      {% if media.field_image_copyright.value %}
        <span class="image__copyright-label">{{ 'Copyright:'|trans }}</span>
        {{ content.field_image_copyright|field_value }}
      {% endif %}
    </div>
  </div>
</article>