{#
/**
 * @file
 * Default theme implementation to present a media entity.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}

<article class="image">

    {% if content.image %}
        <div class="image__image">{{ content.image }}</div>
    {% endif %}

    <div class="image__info">

        {% if content.field_image_caption %}
            <div class="image__caption">{{ content.field_image_caption|field_value }}</div>
        {%  endif %}

        {% if content.field_image_copyright.value %}
            <div class="image__copyright"><span class="image__copyright-label">{{ 'Copyright:'|trans }}</span>{{ content.field_image_copyright|field_value }}</div>
        {% endif %}

    </div>

</article>