.paragraph{
    &.downloads{
        position: relative;
        article{
            @include icon-before($fa-var-arrow-circle-o-down); 
            &:after{
                position: absolute;
            }   
            width: 100%; 
            .document__title{
                padding-left: $grid-gutter-width/1.3;
            }
            .document__meta{
                padding-left: $grid-gutter-width/1.3;
                font-size: $font-size-h6;
                span{
                    font-size: $font-size-h4;
                    color: $brand-primary;
                }
                .mime-application-pdf{
                    @include icon-before($fa-var-file-pdf-o);
                }
                .mime-application-vndms-excel, .mime-application-vndopenxmlformats-officedocumentspreadsheetmlsheet, .mime-application-vndoasisopendocumentformula{
                    @include icon-before($fa-var-file-excel-o);
                }
                .mime-application-msword, .mime-application-vndopenxmlformats-officedocumentwordprocessingmldocument, .mime-application-vndoasisopendocumenttext{
                    @include icon-before($fa-var-file-word-o);
                }
                .mime-application-vndms-powerpoint, .mime-application-vndopenxmlformats-officedocumentpresentationmlpresentation,  .mime-application-vndoasisopendocumentpresentation{
                    @include icon-before($fa-var-file-powerpoint-o);
                }
            }
        }
    }
}

.paragraph.nav-list{
    article{
        float: left; 
        margin-top: $padding-large-vertical + 5;
        -webkit-font-smoothing: antialiased;
        &:before{
            float: left;
            min-height: 32px;
            position: relative;
            top: 4px;
            font-size: $font-size-h3;
            color: $brand-primary;
            margin-right: $padding-base-horizontal;
        }
    }
}
.sidebar{
    .paragraph.nav-list{
        .paragraph__content{
            columns: 1;
        }
    }
}
.region-content{
    .paragraph.nav-list{
        .paragraph__content{
            columns: 2;
            @media(max-width: $screen-xs){
                columns: 1;
            }
        }
    }
}