.social-media-settings {
  .modal-dialog {
    background: rgba($brand-secondary,0.8);
    padding: $grid-gutter-width;
    max-width: 100%;
    @include smaller-than($screen-xs-max) {
      padding: $grid-gutter-width/2;
    }
  }
  .modal-header {
    padding: 0;
  }
  .modal-title {
    color: $color-white;
    margin: $grid-gutter-width/2 0 $grid-gutter-width/4 0;
    padding-left: $grid-gutter-width;
    @include smaller-than($screen-xs-max) {
      padding-left: 0;
      margin-top: $grid-gutter-width;
    }
  }
  .modal-content {
    box-shadow: none;
    border-radius: 0;
    border: none;
    padding: $grid-gutter-width/2;
    @include smaller-than($screen-xs-max) {
      padding: $grid-gutter-width/4;
    }
  }
  &__text {
    a {
      font-weight: bold;
    }
  }
  &__settings-list {
    list-style-type: none;
    margin-top: $grid-gutter-width/2;
    input {
      margin-right: $padding-base-horizontal;
    }
  }
  .modal-footer {
    padding-left: 0;
    padding-right: 0;
    padding-top: $padding-large-vertical;
  }

  button.btn-default {
    background: transparent;
    border: none;
    border-radius: 0;
    padding: 0 0 0 $padding-small-horizontal;
    &:hover,
    &:focus,
    &:active {
      box-shadow: none;
      &:focus {
        background: transparent;
      }
      span {
        text-decoration: underline;
      }
    }
  }

  .modal-button {
    span {
      color: $brand-secondary;
      font-size: $font-size-small;
      font-weight: bold;
      vertical-align: super;
    }
    i:before {
      display: block;
      font-size: $font-size-h2;
      color: $color-white;
      padding: $padding-large-horizontal/2;
      vertical-align: middle;
      margin-left: $padding-small-horizontal;
    }
  }
  .modal-close {
    cursor: pointer;
    span {
      color: $color-white;
      font-weight: normal;
      font-size: $font-size-h6;
    }
    i:before {
      background: rgba($gray-base,0.1);
    }
    &:hover,
    &:active,
    &:focus {
      background: rgba($gray-base,0.1);
    }
  }
  &__cancel i{
    &:before {
      background: $brand-secondary;
    }
  }
  &__save i{
    &:before {
      background: $brand-success;
    }
  }
}