.header__upper-menu{
  .language{
    padding: $padding-large-vertical 0 $padding-base-vertical $padding-large-vertical*2;
    -webkit-font-smoothing: antialiased;
    @media(max-width: $screen-sm-min){
      display: flex;
      width: 100%;
    }
    select{
      text-transform: uppercase;
      display: none;
    }
    label{
      @media(max-width: $screen-sm-min){
        float: left;
        padding-right: $grid-gutter-width/4;
      }
    }
    .selector{
      padding-right:  $padding-large-vertical*1.5;
      @media(max-width: $screen-sm-min){
        flex: 1;
        padding-right: 0;
        i{
          float: right;
          font-weight: bold;
          font-size: $font-size-h4;
          line-height: $font-size-h2;
          transform: rotate(0deg);
        }
      }
      i{

      }
    }
    .options{
      display: block;
      position: absolute;
      z-index: 2;
      left: 64px;
      top: 42px;
      list-style: none;
      padding: 0;
      background: $brand-secondary;
      li{
        padding: $padding-large-vertical/2 $padding-large-vertical;
        a{
          font-size: $font-size-base - 6;
        }
      }
      &.is-hidden{
        opacity: 0;
        transition: opacity 0.5s, visibility 0.8s;
        z-index: -10;
      }
      &.is-open{
        visibility:visible;
        opacity: 1;
        //transition: opacity 0.5s, visibility 0.8s;
        @media(max-width: $screen-sm-min){
          padding: 0 $padding-small-horizontal;
          margin: 0 $padding-small-horizontal*2;
        }
      }
      @media(max-width: $screen-sm-min){
        left: 0;
        right: 0;
        top: 43px;
        li{
          border-bottom: 1px solid $color-white;
          &:last-child {
            border-bottom: none;
          }
          a{
            color: $color-white;
            font-size: $font-size-h6;
            font-weight: normal;
          }
        }
      }
    }
    a{
      cursor: pointer;
      color: $color-white;
      @media(max-width: $screen-sm-min){
        color: $brand-secondary;
      }
    }
  }
  .menu{
    padding-left: 0;
    ul{
      list-style: none;
      margin-bottom: 0;
      padding: 0;
      li{
        display: inline-block;
        float: left;
        a{
          color: $color-white;
          padding: $padding-large-vertical $padding-large-vertical*2 $padding-large-vertical/2.5 $padding-large-vertical;
          -webkit-font-smoothing: antialiased;
          line-height: 1.5;
          @media(max-width: $screen-sm-min){
            color: $brand-secondary;
          }
          &.gebaerdensprache{
            background: url(../images/download.png) no-repeat scroll right 6px transparent;
            padding: $padding-large-vertical $padding-large-vertical*2.4 $padding-large-vertical/2.5 $padding-large-vertical;
          }
          &.leichtesprache{
            background: url(../images/leichtesprache.png) no-repeat scroll right 10px transparent;
          }
          &.login{
            background: url(../images/user-login.png) no-repeat scroll right 10px transparent;
          }
          &.kontakt {
            background: url(../images/kontakt.png) no-repeat scroll right 10px transparent;
          }
          &.social-media-settings--menu-item {
            i:before {
              font-size: $font-size-h6;
              line-height: $font-size-extra-small;
              margin-left: $padding-large-horizontal/2;
            }
          }
        }
      }
    }
    &:last-child{
      margin-left: auto;
    }
  }
}

.nrw-menu-header{
  background: $color-white;
  .shadow{
    border-radius: 50%;
    width: 100%;
    height: 14px;
    background: black;
    opacity: 0.2;
    -webkit-filter: blur(10px);
    -webkit-transform: scale(1, 0.1);
    margin-bottom: -1*($padding-base-vertical);
    @media(max-width: $screen-sm){
      display: none;
    }
  }
  &__icons{
    display: inline-block;
    width: 100%;
    background: $color-white;
    margin-bottom: -1*($padding-base-vertical + 2 );
    @media(max-width: $screen-sm) {
      display: none;
    }
  }
  &__icon{
    text-decoration: none;
    display: inline-block;
    height: 80px;
    width: 160px;
    border-right: 1px solid $deGOV-light;
    float: left;
    font-size: $font-size-small - 2;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    &:hover,
    &:focus{
      text-decoration: none;
    }
    &.is-active {
      &:after {
        @include triangle-up($size: 10px);
        border-bottom-color: $deGOV-secondary;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    &.active-trail {
      &:after{
        //@include triangle-up($size: 10px);
        border-bottom-color: $deGOV-secondary;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
      &.menu-search.is-active {
        &:after{
          content: '';
          border: 0;
        }
      }
    }
    div{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
    }

    i{
      color: $brand-secondary;
      z-index: 1;
      margin-bottom: $padding-base-vertical*2;
      &:before{
        font-size: $font-size-large;
      }
    }
    &:hover{
      span{
        text-decoration: underline;
      }
    }
    &.menu-search{
      border-right: 0px solid $deGOV-light;
      border-left: 1px solid $deGOV-light;
      float: right;
      i{
        &:before{
          font-size: $font-size-h4;
        }
      }
      &:hover,
      &:focus{
        background: $brand-secondary;
        color: $color-white;
        i{
          color: $color-white;
        }
      }
    }
    a{
      color: $brand-secondary;
      align-self: flex-end;
      text-align: center;
      width: 100%;
      height: 100px;
      font-size: $font-size-small;
      padding: 68px 0px 0px 0;
      font-weight: bold;
      text-transform: uppercase;
      position: relative;
      z-index: 2;
    }
  }
  &__wrapper{
    position: relative;
    display: flex;
    flex-direction: row;
    -webkit-flex-flow: row wrap;
    justify-content: flex-start;
    background-color: $deGOV-secondary;
    @media(max-width: 720px){
      display: none;
    }
    a{
      color: $color-white;
    }
  }
  &__col{
    padding: $grid-gutter-width/4 $grid-gutter-width/2;
    display: none;
    &.active-trail{
      background: $brand-primary;
    }
    &.is-active{
      display: block;
    }
    &.is-open{
      background-color: $brand-primary;
      .nrw-menu__header a {
        text-decoration: underline;
      }

    }
    &:hover,
    &:focus{
      background-color: $brand-primary;
    }
  }
  .nrw-menu__header {
    a {
      font-size: $font-size-small;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
  &__content{
    display: none;
    position: absolute;
    background-color: $brand-primary;
    width: 100%;
    left: 0;
    top: 45px;
    z-index: 1100;
    &-title-area{
      padding: 20px 20px 13px 20px;
      color: $brand-primary;
      display: flex;
      >a, >div{
        flex-grow: 1;
        text-decoration: none;
      }

      .nrw-menu__content-close{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        align-self: flex-end;
        font-size: $font-size-base - 4;
        justify-content: flex-end;
        i{
          color: $color-white;
          line-height: 1.1;
          line-height: $padding-large-horizontal;
          margin-left: $padding-base-horizontal/3;
        }
      }
      .nrw-menu__content-title-icon{
        display: inline-block;
        i{
          background: $color-white;
          color: $brand-primary;
          width: 45px;
          height: 45px;
          display: flex;
          align-items: center;
          justify-content: center;
          float: left;
          margin-right: $padding-base-horizontal + 5;
        }
      }
      .nrw-menu__content-title-text{
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        margin: 0;
        line-height: 1.3;
        font-size: $font-size-h3;
        font-family: $font-family-sans-serif;
        text-transform: uppercase;
        &:hover,
        &:focus,
        &:active {
          &,
          .sub-title {
            text-decoration: underline;
          }
        }
        .sub-title{
          font-weight: bold;
          display: inline-block;
          width: 100%;
        }
      }
    }
    .nrw-menu__extra{
      min-height: 210px;
      width: 24%;
      float: right;
      background-color: $deGOV-secondary;
      padding: $padding-base-horizontal + 5;
      color: $color-white;
      p{
        color: $color-white;
        margin: 0;
        line-height: $font-size-h2 + 6;
        -webkit-font-smoothing: antialiased;
      }
    }
    // Second level menu items
    > .nrw-menu__list{
      list-style: none;
      float: left;
      background-image: url(../images/menus.png);
      min-height: 210px;
      width: 75%;
      padding: $padding-base-horizontal $padding-base-horizontal*3.6;
      margin-bottom: $padding-base-horizontal*5;
      @include larger-than($screen-md-min) {
        column-count: 2;
        column-gap: $grid-gutter-width;
      }
      @include larger-than($screen-lg-min) {
        column-count: 3;
      }
      .submenu {
        padding: $padding-base-vertical 0;
        page-break-inside: avoid;
        break-inside: avoid;
        display: table;
      }
      ul{
        list-style: none;
      }
      a{
        @include icon-before('\f061');
        font-size: $font-size-base - 1;
        font-weight: bold;
        text-transform: initial;
        &:before {
          font-size: $font-size-small;
        }
      }
      // Third level menu items
      .nrw-menu__list {
        padding-left: $grid-gutter-width/2;
        a {
          font-size: $font-size-small + 1;
        }
      }
    }

    &.is-expanded{
      display: block;
    }
  }
}

// Primary tabs menu for logged in users
.user-logged-in .nav-tabs.tabs--primary {
  position: fixed;
  top: 5em;
  right: 0.5em;
  border: none;
  z-index: 10000;
  li {
    float: none;
    margin: $padding-large-vertical 0;
    &:first-child a {
      @include icon($fa-var-eye);
    }
    a{
      @include icon($fa-var-circle);
      &:before {
        color: $color-white;
      }
    }
    a[href*=edit] {
      @include icon($fa-var-pencil);
      &:before {
        color: $color-white;
      }
    }
    a[href*=delete] {
      @include icon($fa-var-trash-o);
      &:before {
        color: $color-white;
      }
    }
    a[href*=config] {
      @include icon($fa-var-cogs);
      &:before {
        color: $color-white;
      }
    }
    a[href*=revisions] {
      @include icon($fa-var-list-ol);
      &:before {
        color: $color-white;
      }
    }
    a[href*=simplenews] {
      @include icon($fa-var-newspaper-o);
      &:before {
        color: $color-white;
      }
    }
    a {
      display: block;
      width: $font-size-h1;
      height: $font-size-h1;
      background: $color-red;
      padding: 0;
      box-shadow: 0px 1px 2px rgba($gray-base,0.3);
      border-radius: 50%;
      border: none;
      cursor: pointer;
      &:before {
        color: $color-white;
        font-size: $font-size-h3;
        line-height: 1;
        width: 100%;
        text-align: center;
        vertical-align: bottom;
        margin-top: 6px;
      }
      &:hover,
      &:focus {
        background: $color-white;
        border: none;
        &:before {
          color: $gray;
        }
      }
    }
  }
  li.active a {
    background: $color-white;
    &:before {
      color: $gray;
    }
  }
}

.nrw-menu-header-responsive{
  display: none;
  padding: 0 $grid-gutter-width/2;
  color: $brand-secondary;
  &__list{
    list-style: none;
    display: none;
    &.is-open{
      display: block;
    }
  }
  i{
    font-weight: normal;
    margin-right: $padding-small-horizontal;
    &:before {
      color: $brand-secondary;
    }
  }
  .fa-angle-down {
    margin-right: 0;
  }
  &__title,
  &__list,
  &__block-title,
  &__block--social-media {
    font-size: $font-size-small;
    vertical-align: text-top;
    line-height: $font-size-h2 + 6;
    text-transform: uppercase;
    i.is-open{
      transform: rotate(180deg);
    }
  }
  &__block-title{
    font-size: $font-size-h2;
    text-transform: uppercase;
    a{
      font-size: $font-size-small;
      vertical-align: middle;
      line-height: $font-size-h2 + 6;
    }
    .fa-angle-down {
      font-size: $font-size-h6;
      font-weight: bold;
    }
  }
  &__block > &__block-title {
    border-top: 1px solid $deGOV-light;
    padding: $padding-large-vertical 0;
  }
  &__block-title, &__title{
    line-height: $font-size-h1;
  }
  &__list{
    padding-left: $padding-small-horizontal*2;
    margin-bottom: 0;
    i{
      margin-right: $grid-gutter-width/8;
    }
  }
  &__block {
    padding-top: $vertical-gutter-width/4;
    padding-bottom: $vertical-gutter-width/4;
  }
  &__block--search {
    border-top: none;
    padding-bottom: $vertical-gutter-width/2;
    .nrw-menu-header-responsive__item {
      position: relative;
    }
    input {
      border: none;
      background: $deGOV-light;
      padding: $padding-large-vertical $padding-xs-horizontal;
      width: 100%;
      font-size: $font-size-h6;
    }
    button {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      font-size: 0px;
      letter-spacing: -1px;
      color: transparent;
      background: $degov-green;
      border: none;
      width: 42px;
      text-align: center;
    }
    button i {
      margin: 0;
      padding-bottom: 2px;
      font-size: $font-size-h2;
      &:before {
        color: $color-white;
      }
    }
  }
  &__block--social-media {
    margin: 0 $grid-gutter-width/-2;
    padding-left: $grid-gutter-width/2;
    padding-right: $grid-gutter-width/2;
    background: $deGOV-light;
    i {
      width: $font-size-h2;
      vertical-align: sub;
    }
    i:before {
      font-size: $font-size-h2;
    }
  }
  &__content {
    padding-left: $grid-gutter-width*0.7  ;
    &.is-close{
      display: none;
    }
    a{
      i{
        margin-right: $grid-gutter-width/8;
        font-size: $font-size-extra-small;
      }
    }
  }
  .action{
    display: block;
    float: right;
    padding: $padding-base-vertical*2 $padding-base-horizontal;
    cursor: pointer;
  }
  &__third-level {
    text-transform: none;
  }
  &.is-open{
    display: block;
    position: absolute;
    margin-top: -2px;
    z-index: 1000;
    width: 90%;
    background: $color-white;
    box-shadow: 3px 5px 5px $gray-base;
  }
}

.header__menu-icon{
  display: none;
  transform: opacity 0.3s;
  @media(max-width: $screen-sm){
    display: block;
  }
  &.is-open {
    opacity: 0.5;
  }
  i,
  span {
    width: 43px;
    text-align: center;
    color: $brand-secondary;
  }
  i{
    display: block;
    font-size: $font-size-h2 + 5;
    padding: $grid-gutter-width/4 - 3;
    margin: $grid-gutter-width/2 $grid-gutter-width/2 0 0;
    background: $brand-secondary;
    color: $color-white;
  }
  span{
    display: inline-block;
    font-size: $font-size-small;
    text-transform: uppercase;
    font-weight: bold;

  }
}

// Sidebar menu - Min menu fourth level and deeper
.nrw-menu-sidebar-sub {
  margin-top: $grid-gutter-width/2;
  &__menu-list {
    list-style-type: none;
    font-size: $font-size-small;
    i {
      margin-right: $padding-xs-horizontal;
      &:before {
        font-size: $font-size-extra-small;
      }
    }
    &--level-4 {
      padding: 0;
      font-size: $font-size-h6;
      > li {
        padding: $padding-base-vertical 0;
        >i:before {
          font-size: $font-size-h6;
          font-weight: bold;
        }
        >a.is-active{
          font-weight: bold;
        }
      }
    }
    ul {
      padding-left: $grid-gutter-width/2.352;
      padding-top: $padding-large-vertical;
    }
  }
}
