/*h1,h2, h3, h4, h5, h6, p{
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}*/
// Reduce spacing below page header
.page-header {
	padding: $vertical-gutter-width/2 0;
	border-bottom: 0;
  margin: 0;
}

// Format captions
figcaption {
	text-align: center;
}

// Iframe
.iframe iframe {
  padding: 0;
  border: none;
  width: 100%;
}

h3{
  margin-top: 0;
}

.file {
  width: auto;
  font-size: $font-size-small;
  > span {
    color: inherit;
    background: transparent;
    &,
    &:last-child {
      border: none;
    }
  }
  * {
    display: table-cell;
    vertical-align: middle;
    line-height: 1;
  }
  .file-size {
    padding: 0 $padding-base-horizontal 0 0;
    text-align: initial;
  }
  .file-type {
    padding: 0 $padding-xs-horizontal/2;
    text-transform: uppercase;
    &:after {
      content: ', ';
    }
  }
  i {
    padding-right: $padding-small-horizontal;
    &:before {
      font-size: $font-size-h2;
    }
  }
}