.press{
  .date{
    background: $brand-primary;
    color: $color-white;
    font-size: $font-size-h4;
    line-height: $font-size-h1;
    font-weight: bold;
    margin: 0 -1*($grid-gutter-width/2);
    padding: $grid-gutter-width/4 $grid-gutter-width/2;
  }
}


// Press list - slider view
.press-list {
  .press__latest_wrapper {
    a {
      text-decoration: none;
      cursor: default;
      &:focus,
      &:active {
        outline: none;
      }
    }
  }
  .press__teaser-date {
    color: $text-color;
    font-size: $font-size-small;
    font-family: $font-family-sans-serif;
    time {
      font-weight: normal;
    }
  }
  .press__teaser-title {
    color: $brand-primary;
    font-size: $font-size-h6;
    line-height: 1.1;
    font-family: $font-family-sans-serif;
    font-weight: bold;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}