.press{
  .date{
    background: $brand-primary;
    color: $color-white;
    font-size: $font-size-h4;
    line-height: $font-size-h1;
    font-weight: bold;
    margin: 0 -1*($grid-gutter-width/2);
    padding: $grid-gutter-width/4 $grid-gutter-width/2;
  }
}


// Press list - slider view
.press-list {
  .press__latest_wrapper {
    a {
      text-decoration: none;
      cursor: default;
      &:focus,
      &:active {
        outline: none;
      }
    }
  }
  .press__teaser-date {
    color: $text-color;
    font-size: $font-size-small;
    font-family: $font-family-sans-serif;
    time {
      font-weight: normal;
    }
  }
  .press__teaser-title {
    color: $brand-primary;
    font-size: $font-size-h6;
    line-height: 1.1;
    font-family: $font-family-sans-serif;
    font-weight: bold;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
  .view-content {
    margin: 0 $padding-small-horizontal*-2;
  }
  .views-row {
    padding: $padding-small-horizontal*2;
    padding-top: 0;
  }
  .view-footer {
    a {
      padding-right: $padding-base-horizontal;
      color: $brand-primary;
      font-family: $font-family-sans-serif;
      font-size: $font-size-small;
      line-height: 1;
      font-weight: bold;
      .fa {
        padding-right: $padding-xs-horizontal;
        line-height: 1;
        &:before {
          display: inline-block;
          margin: 0 0 1px;
          vertical-align: text-bottom;
        }
      }
    }
  }
}