<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body id="mimemail-body" style="width:100% !important;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;margin:0;padding:0">
<div style="line-height:1.3em;font-family:arial,sans-serif;font-size:14px">
  <table id="center" cellspacing="0" cellpadding="0" style="border-collapse:collapse;color:inherit;font-size:inherit;background-color:#e7ebf1;width:100%;"><tr>
      <td style="line-height:1.3em;font-family:arial,sans-serif;font-size:14px;text-align:left;vertical-align:top;border-collapse:collapse;width:50%;"></td>
      <td style="line-height:1.3em;font-family:arial,sans-serif;font-size:14px;text-align:left;vertical-align:top;border-collapse:collapse;">
        <table id="main" width="640" cellspacing="0" cellpadding="0" style="border-collapse:collapse;color:inherit;font-size:14px;font-family:arial,sans-serif;font-weight:normal;background-color:#fff;line-height:1.3em;">
          <tr>
            <td style="line-height:1.3em;font-family:arial,sans-serif;font-size:14px;text-align:left;vertical-align:top;border-collapse:collapse;background-color:#233852;color:#fff;padding:25px 25px 15px 25px;">
              <h3 style="font-weight:normal;margin:0;color:#fff;line-height:1em;font-size:18px;">
                <strong>Newsletter  </strong><br>
                der Landesregierung Nordrhein-Westfalen</h3>
            </td>
          </tr>
          <tr>
            <td style="line-height:1.3em;font-family:arial,sans-serif;font-size:14px;text-align:left;vertical-align:top;border-collapse:collapse;"><img src="{{ base_url ~ directory }}/public/images/email-header-img.png" width="640" height="130" alt="" title="" style="outline:0;border:0;text-decoration:none;-ms-interpolation-mode:bicubic;line-height:0">
            </td>
          </tr>
          <tr>
            <td style="line-height:1em;font-family:arial,sans-serif;font-size:14px;text-align:right;vertical-align:top;border-collapse:collapse;background-color:#233852;color:#fff;padding-top:12px;padding-bottom:8px;padding-right:20px;"><span>{{ mail_date|format_date('date_medium') }}</span></td>
          </tr>
          <tr>
            <td style="padding: 20px;">
              {{ body }}
            </td>
          </tr>
          <tr>
            <td style="line-height:1.3em;font-family:arial,sans-serif;font-size:11px;text-align:left;vertical-align:top;border-collapse:collapse;width:100%;background-color:#233852;">
              <div style="line-height:1.3em;font-family:arial,sans-serif;font-size:14px">
                <div style="line-height:1.5em;font-family:arial,sans-serif;font-size:14px;margin-left:35px;margin-right:35px;background-color:#233852;color:#fff;padding-top:25px;padding-bottom:10px;">Inhaltlich Verantwortlicher im Sinne von § 55 Abs. 2 RStV ist der Regierungssprecher bzw. dessen Stellvertreter. Redaktion <a href="https://www.land.nrw" style="color:#fff;text-decoration:underline;font-weight:normal;">www.land.nrw</a>: Andreas Hahn (Leitung), Matthias Kowalski, Andreé Kringe, Martin Götz <span style="line-height:20.7999992370605px;">(Webmaster)</span>, Wolfgang Meyer-Piehl (Webmaster). E-Mail: <a href="mailto:internetredaktion@stk.nrw.de" style="color:#fff;text-decoration:underline;font-weight:normal;">internetredaktion@stk.nrw.de</a>
                  <p style="line-height:1.3em;font-family:arial,sans-serif;font-size:14px;padding-bottom:1em;">Sie können diesen Newsletter jederzeit <a href="https://www.land.nrw/de/servicecenter/newsletter" style="color:#fff;text-decoration:underline;font-weight:normal;">abbestellen</a>.<br>
                  </p>
                </div>
                <div style="line-height:1.3em;font-family:arial,sans-serif;font-size:14px;background-color:#e7ebf2;">
                  <table style="width:100%;border-collapse:collapse;color:inherit;font-size:inherit;background-color:#e7ebf2;"><tbody><tr>
                      <td style="line-height:1.3em;font-family:arial,sans-serif;font-size:11px;text-align:left;vertical-align:top;border-collapse:collapse;padding:10px 35px 20px 35px;">© 2016 Staatskanzlei des Landes Nordrhein-Westfalen</td>
                      <td style="text-align:right;vertical-align:top;line-height:1.3em;font-family:arial,sans-serif;font-size:11px;border-collapse:collapse;padding:10px 35px 20px 35px;">
                        <a href="https://www.land.nrw/de/impressum-0" style="color:#3c516b;text-decoration:underline;font-weight:normal;">Impressum</a> | <a href="https://www.land.nrw/de/servicecenter/kontakt" style="color:#3c516b;text-decoration:underline;font-weight:normal;">Kontakt</a>
                      </td>
                    </tr></tbody></table>
                </div>
              </div>
            </td>
          </tr>
        </table>
      </td>
      <td style="line-height:1.3em;font-family:arial,sans-serif;font-size:14px;text-align:left;vertical-align:top;border-collapse:collapse;width:50%;"></td>
    </tr></table>
</div>
</body>
</html>
