.sitemap {
  padding: $padding-base-vertical*4 0;
}

.sitemap-message {
  margin-bottom: $padding-base-vertical*4;
}

.sitemap-box-front {
  a {
    display: inline-block;
    margin-right: $grid-gutter-width/4;
  }
}

.sitemap-box-menu {
  column-count: 2;
  column-gap: $grid-gutter-width;

  li {
    font-size: $font-size-base;
    color: $brand-primary;
  }
}
