// Styles for content region
body{
  -webkit-font-smoothing: antialiased;
  background-color: $background-grey;
}
.container-fluid{
  max-width: 1280px;
  margin: 0 auto;
  
}
.main-wrapper {
  background-color: $background-grey;
}
.main-container {
  background: $color-white;
  //padding-bottom: $vertical-gutter-width;
  position: relative;
}
.main-container .region-header {
  position: absolute;
  top: -$vertical-gutter-width * 1.5;
}
h1, h2, h3, h4, h5, h6{
  font-family: $font-family-sans-serif;

}
a{
  color: $brand-primary;
}
blockquote{
  border-color: $brand-primary;
}
strong{
  font-weight: bold;
}

table {
	width: 100%;
    border-bottom: 15px solid $brand-primary;
  thead{
    th{
      background: $brand-primary;
      color: $color-white;
    }
  }
  tr:nth-child(even) {
    background: $nrw-light;
  }
  tr:nth-child(odd) {
    background: $color-white;
  }
  tr{
    border-bottom: 1px solid $nrw-gray;
  }
	td, th {
		padding: 0.25em;
	}


}

.region-header-region{
  background-color: $brand-primary;
  color: $color-white;
  margin: 0 -1*($grid-gutter-width/2);
  padding: $grid-gutter-width/2;
  a{
    color: $color-white;
  }
  h1{
    padding: 0;
    font-size: $font-size-h3;
    line-height: $font-size-h3;
    font-weight: bold;
    width: 100%;
  }
}
.breadcrumb{
  padding: 0;
  font-size: $font-size-small;
  margin-bottom: $grid-gutter-width/4;
   > li + li:before, li.active{
    color: $color-white;

    content: '> ';
  }
}

.right{
  float: right;
}

.alert {
  margin: $grid-gutter-width/-2;
  margin-bottom: $grid-gutter-width/2;
  border-radius: 0;
  a {
    color: inherit;
  }
}

.media{
  &:hover{
    > .contextual{
      @include icon-after($fa-var-file-image-o);
      &:after{
        color: $brand-primary;
        position: absolute;
        top: 2px;
        right: 6px;
        background: white;
        width: 26px;
        height: 23px;
        border-radius: 50%;
        margin: 0;
        padding: 0 5px;
        line-height: 21px;
      }
      .trigger{
        z-index: 2;
        background-image: none;
        background-color: transparent;
        &:hover{
          background-image: none;
        }
      }
    }
  }
}
article,.paragraph{
  &:hover{
    > .contextual{
      @include icon-after($fa-var-font);
      &:after{
        color: $brand-primary;
        position: absolute;
        top: 2px;
        right: 6px;
        background: white;
        width: 26px;
        height: 23px;
        border-radius: 50%;
        margin: 0;
        padding: 0 5px;
        line-height: 21px;
      }
      .trigger{
        z-index: 2;
        background-image: none;
        background-color: transparent;
        &:hover{
          background-image: none;
        }
        
      }
    }
  }
}