// Styles for content region

.main-wrapper {
  background-color: $background-grey;
  padding-top: $vertical-gutter-width * 4.125; 
}
.main-container {
  background: $color-white;
  padding-bottom: $vertical-gutter-width;
  position: relative;
}
.main-container .region-header {
  position: absolute;
  top: -$vertical-gutter-width * 1.5;
}

h1, h2, h3, h4, h5, h6{
  font-family: $font-family-sans-serif;
}
a{
  color: $brand-primary;
  font-family: $font-family-sans-serif-bold;
}
blockquote{
  border-color: $brand-primary;
}
strong{
  font-family: $font-family-sans-serif-bold;
}