// search block
.block-search {
  width: $line-height-computed*1.5;
  height: $line-height-computed*1.5;
  position: relative;
}

.block-search form {
  position: absolute;
  z-index: 99999;
  right: 0;
}
.block-search .button {
  @include icon($fa-var-search);
  background-color: transparent;
  border-color: $color-gray;
  outline: none;
  &:before {
    color: $color-gray;
  }
}
.block-search form .input-group-btn:last-child > .button {
  border-top-left-radius: $border-radius-base;
  border-bottom-left-radius: $border-radius-base;
}
.block-search .form-search {
  float: right;
  width: 0;
  opacity: 0;
  transition: width 200ms ease-in-out, opacity 200ms ease-in-out;
  padding: 0;
}

// block search when expanded search
.expanded-search .block-search {
  overflow: visible;
  // padding plus borders …
  width: $line-height-computed * 10.5 + ($padding-base-horizontal * 2) + 3px;
}
.expanded-search .block-search .form-search {
  width: $line-height-computed * 10;
  padding: $padding-base-vertical $padding-base-horizontal;
  opacity: 1;
}
.expanded-search .block-search form .input-group-btn:last-child > .button {
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}

// panel in search advanced
.search-advanced .panel-body .panel-default {
  border: 0;
  padding: 0;
  margin: 0;
  margin-bottom: $vertical-gutter-width;
}
.search-advanced .panel-body .panel-default .panel {
  box-shadow: 0px 0px 0px transparent;
}
.search-advanced .panel-body .panel-default legend {
  display: none;
}
.search-advanced .panel-body .panel-default .panel-heading {
  border: 0;
  padding: 0;
  background: transparent;
  margin: 0;
}
.search-advanced .panel-body .panel-default .panel-body {
  border: 0;
  padding: 0;
  margin: 0;
}
.search-advanced .panel-body .panel-default .panel-title {
  margin: 0 0 0.25em 0;
  padding: 0;
  font-weight: bold;
}