/*
// Style link lists
.field--name-field-links-element-links {
	.field--item {
		a {
			@include icon-before('►');
			&:hover, &:focus {
				text-decoration: none;
			}
		}
	}
}
*/
.links{
	.paragraph__content{
		a{
			font-size: $font-size-h6;
			text-transform: initial;
			display: block;
			text-indent: -$grid-gutter-width/4;
			margin-left: $grid-gutter-width/2;
			@include icon-before('\f061');
			&:before{
				margin-right: 7px;
			}
		}
	}
}