{#
/**
 * @file
 * Displays the IT.NRW Maps formatter.
 *
 * Available variables:
 * - zoom: Zoom level for embedded and linked maps.
 * - coordinates: contains the formatted coordinates to send to ITNRW service
 *
 * @ingroup themeable
 */
#}
{{ attach_library('itnrw_map/itnrw_map_loader') }}

{% if coordinates is not empty %}
  <div id="map-area">
    <div id="itnrwMap_0" class="itnrwMap"
         data-itnrw-coords="{{ coordinates }}"
         data-itnrw-map="basemap:webatlas, zoomlevel:{{ zoom_level }}"
         data-itnrw-module-toggler="webatlas, dop20"
         data-itnrw-layers="[wms; https://www.wms.nrw.de/geobasis/wms_nw_dvg; nw_dvg_gem_gesamt,nw_dvg_rbz,nw_dvg_bld;]">
    </div>
  </div>
{% endif %}
