{#
/**
 * @file
 * Default theme implementation to present a media entity.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
<article class="media media-person">
  <div class="row">
    <div class="col-md-12 media-person__image-wrapper">
      <div class="media-person__image">{{ content.field_person_image }}</div>
    </div>
    <div class="col-md-12 media-person__info-wrapper">
      <div class="media-person__info">{{ content.field_person_info|field_value }}</div>
    </div>
  </div>
</article>