<div class="footer-wrapper">
    <footer class="footer {{ container }}" role="contentinfo">
        <div class="footer__upper">
            <h3>OVERVIEW
                <span>CONTENT</span>
            </h3>
            <div class="printer">
                <a href="{{ url('<current>') }}/?print=1"><span>PRINT</span><i class="fa fa-print" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="footer__menu">
        {# demo menu #}
            {{ page_footer_menu }}
        </div>
        <div class="footer__bottom-menu">
            <div class="footer__copyright col-md-6">
                © 2017 Office of the Prime Minister of North Rhine-Westphalia
            </div>
            <div class="footer__footer_menu col-md-6 right">
            {# demo menu #}
                <ul class="menu "><li class="first leaf"><a href="/en/sitemap" title="Show content">Content</a></li>
                    <li class="leaf"><a href="/en/imprint" title="Impressum anzeigen">Imprint</a></li>
                    <li class="leaf"><a href="/en/netiquette" title="Netiquette">Netiquette</a></li>
                    <li class="last leaf"><a href="/en/data_privacy" title="Show Data Privacy">Data Privacy</a></li>
                </ul>        
            </div>
        </div>
    </footer>
</div>