 <div class="header__upper-menu">
    <div class="header__upper-menu--title">{% trans %} TECHNISCHES MENU {% endtrans %}<i class="fa fa-angle-down" aria-hidden="true"></i>
</div>
    <div class="header__upper-menu--elements">
        {{ language_block }}
        <div class="menu col-md-4">
            <nav id="service-menu" class="navigation" role="navigation">
                <ul class="menu clearfix">
                    <li class="first leaf"><a href="/leichte-sprache" class="leichtesprache">Leichte Sprache</a></li>
                    <li class="last leaf"><a href="/gebaerdensprache" class="gebaerdensprache">Gebärdensprache</a></li>
                </ul>
            </nav>
        </div>
        <div class="menu col-md-5 right">
            <nav id="secondary-menu" role="navigation" class="navigation">
                <ul id="secondary-menu-links" class="links inline clearfix">
                    {% if logged_in %}
                         <li class="first"><a href="/user" title="Benutzer" class="login">{% trans %}Benutzer{% endtrans %}</a></li>
                    {% else %}
                         <li class="first"><a href="/user/login" title="Anmelden / Registrieren" class="login">{% trans %}Anmelden / Registrieren{% endtrans %}</a></li>
                    {% endif %}
                    {% if social_media_settings %}
                    <li><a href="/servicecenter/kontakt" title="Kontakt" class="kontakt">Kontakt</a></li>
                    <li class="last"><a role="button" href="#" class="js-social-media-settings-open social-media-settings--menu-item hidden">{{ 'Social Media Settings'|trans }}<i class="fa fa-cog" aria-hidden="true"></i></a></li>
                    {% else %}
                    <li class="last"><a href="/servicecenter/kontakt" title="Kontakt" class="kontakt">Kontakt</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</div>
{{ content.custom_block_output }}