{#
/**
 * @file
 * Default theme implementation to present a media entity.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
 #}
{% set media_classes = [
'image',
'clearfix',
] %}
<article{{ attributes.addClass(media_classes) }}>
  {{ content.contextual_links }}
  <div class="image__image"{{ content.image|quickedit_attr }}>{{ content.image|field_value }}</div>
</article>
