<div class="footer-wrapper">
    <footer class="footer {{ container }}" role="contentinfo">
        <div class="footer__upper">
            <h3>IM ÜBERBLICK
                <span>INHALT</span>
            </h3>
        </div>
        <div class="footer__menu">
        {# demo menu #}
            <ul class="footer-menu">
                <li class="first expanded"><a href="/de">Aktuelles &amp; Presse</a>
                    <ul class="menu ">
                        <li class="first leaf"><a href="/aktuelles-und-presse/pressemitteilungen-und-pressedatenbank">Pressemitteilungen &amp; Pressedatenbank</a></li>
                        <li class="leaf"><a href="https://www.land.nrw/tags/news">Nachrichten &amp; Beiträge</a></li>
                        <li class="leaf"><a href="/pressetermine">Pressetermine</a></li>
                        <li class="leaf"><a href="/aktuelles-und-presse/pressekontakt">Pressekontakt</a></li>
                        <li class="leaf"><a href="/aktuelles-und-presse/mediendatenbank">Mediathek</a></li>
                        <li class="leaf"><a href="/aktuelles-und-presse/termine-und-veranstaltungen">Veranstaltungen &amp; Termine</a></li>
                        <li class="leaf"><a href="/servicecenter/newsletter">Newsletter der Landesregierung NRW</a></li>
                        <li class="leaf"><a href="/aktuelles-und-presse/nrw-in-sozialen-medien">NRW in Sozialen Netzwerken</a></li>
                        <li class="last leaf"><a href="/rss">RSS-Feeds</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="footer__bottom-menu">
            <div class="footer__copyright col-md-6">
                © 2017 Staatskanzlei des Landes Nordrhein-Westfalen
            </div>
            <div class="footer__footer_menu col-md-6 pull-right">
            {# demo menu #}
                <ul class="menu "><li class="first leaf"><a href="/inhalt" title="Inhalt anzeigen">Inhalt</a></li>
                    <li class="leaf"><a href="/impressum-0" title="Impressum anzeigen">Impressum</a></li>
                    <li class="leaf"><a href="/netiquette" title="Netiquette">Netiquette</a></li>
                    <li class="last leaf"><a href="/datenschutzhinweise" title="Datenschutz anzeigen">Datenschutz</a></li>
                </ul>        
            </div>
        </div>
    </footer>
</div>