<div class="footer-wrapper">
    <footer class="footer {{ container }}" role="contentinfo">
        <div class="footer__upper">
            <h2>IM ÜBERBLICK
                <span>INHALT</span>
            </h2>
            <a class="back-to-top"> Nach Oben</a>
        </div>
        <div class="footer__menu">
        
        </div>
        <div class="footer__bottom-menu">
            <div class="footer__copyright col-md-6">
                © 2017 Staatskanzlei des Landes Nordrhein-Westfalen
            </div>
            <div class="footer__footer_menu col-md-6 pull-right">
                            
            </div>
        </div>
        <img src="{{ base_path ~ directory }}/source/images/footer.png">
    </footer>
</div>