 <div class="header__upper-menu">
    <div class="header__upper-menu--elements">
        <form class="lang_dropdown_form language" id="lang_dropdown_form_language" action="/fr" method="post" accept-charset="UTF-8">
            <label for="edit-lang-dropdown-select">Sprache: </label>
            <select class="lang-dropdown-select-element form-select" id="edit-lang-dropdown-select" name="lang_dropdown_select" sb="23683365">
                <option value="de" selected>de</option>
                <option value="en-gb">en</option>
                <option value="fr">fr</option>
                <option value="nl">nl</option>
                <option value="tr">tr</option>
            </select>
            {# TODO: Change 'DE' for the language variable #}
            <a class="selector">DE</a>
            <ul id="options" class="options hiden" >
                <li><a href="#de" rel="de">de</a></li>
                <li><a href="#en-gb" rel="en-gb">en</a></li>
                <li><a href="#fr" rel="fr" class="sbFocus">fr</a></li>
                <li><a href="#nl" rel="nl">nl</a></li>
                <li><a href="#tr" rel="tr">tr</a></li>
            </ul>
        </form>
        <div class="menu col-md-3">
            <nav id="service-menu" class="navigation" role="navigation">
                <ul class="menu clearfix">
                    <li class="first leaf"><a href="/leichte-sprache" class="leichtesprache">Leichte Sprache</a></li>
                    <li class="last leaf"><a href="/gebaerdensprache" class="gebaerdensprache">Gebärdensprache</a></li>
                </ul>
            </nav>
        </div>
        <div class="menu col-md-3 pull-right">
            <nav id="secondary-menu" role="navigation" class="navigation">
                <ul id="secondary-menu-links" class="links inline clearfix">
                    {% if logged_in %}
                        <li class="first"><a href="/user" title="Benutzer" class="login">Benutzer</a></li> 
                    {% else %}
                        <li class="first"><a href="/user/login" title="Anmelden / Registrieren" class="login">Anmelden / Registrieren</a></li>  
                    {% endif %}
                   
                    <li class="last"><a href="/servicecenter/kontakt" title="Kontakt" class="kontakt">Kontakt</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
    