.media-gallery {
  margin-left: $grid-gutter-width/-2;
  margin-right: $grid-gutter-width/-2;
  margin-top: 0;

  &__tag {
    font-size: $font-size-base;
    font-weight: bold;
  }
  &__images img,
  &__preview img {
    cursor: pointer;
  }

  &__images {
    position: relative;
  }

  &__info {
    padding: $vertical-gutter-width/2 $grid-gutter-width/2 $vertical-gutter-width $grid-gutter-width/2;
    background: $brand-primary;
    color: $color-white;
    font-size: $font-size-h4;
    margin-bottom: $grid-gutter-width/2;
  }
  &__title {
    font-weight: bold;
    font-size: $font-size-h1;
    line-height: 1;
    margin-top: 0;
    margin-bottom: $padding-large-vertical;
  }
  &__sub_title {
    margin-bottom: $padding-base-vertical*3;
  }
  &__preview {
    padding-top: $padding-base-vertical*5;
    padding-bottom: $padding-base-vertical*5;
    .image__info {
      display: none;
    }
  }
}

