.view-reference {
  .view-content {
    margin: 0 $padding-small-horizontal*-2;
  }
  .views-row {
    padding: $padding-small-horizontal*2;
    padding-top: 0;
  }
  .view-footer {
    a {
      padding-right: $padding-base-horizontal;
      color: $brand-primary;
      font-family: $font-family-sans-serif;
      font-size: $font-size-small;
      line-height: 1;
      font-weight: bold;
      .fa {
        padding-right: $padding-xs-horizontal;
        line-height: 1;
        &:before {
          display: inline-block;
          margin: 0 0 1px;
          vertical-align: text-bottom;
        }
      }
    }
  }
}