.banner-wrapper .paragraph--type--slider-element {
  opacity: 0;
  position: absolute;
}
.banner-wrapper.slick-initialized .paragraph--type--slider-element {
  opacity: 1;
  position: relative;
}

// Paragraph layout for slider paragraph
.paragraph--type--slider-element {
	margin: 0;
	position: relative;
	img {
		width: 100%;
		height: auto;
		display: block;
	}
	.container {
		position: relative;
		height: $vertical-gutter-width;
		.slider-text-wrapper {
			position: absolute;
			display: inline-block;
			width: 100%;
			//background: $color-white-transparent;
			background: $color-white;
			left: 0;
			bottom: 0;
			font-size: $font-size-h1;
			padding: 0.5em;
		}
		@include smaller-than($screen-desktop) {
			height: auto;
			.slider-text-wrapper {
				position: relative;
				left: auto;
				bottom: auto;
			}
		}
		.slider-text {
			float: left;
			max-width: 80%;
			a {
				font-family: $headings-font-family;
				text-decoration: none;
				color: $color-blue;
				&:hover {
					color: $text-color;
				}
			}
		}
		.slider-prev, .slider-next {
			color: $color-blue;
			cursor: pointer;
			width: $grid-gutter-width;
			max-width: 10%;
		}
		.slider-prev {
			float: left;
			text-align: left;
			@include icon-before($fa-var-angle-left, 0.5em);
		}
		.slider-next {
			float: right;
			text-align: right;
			@include icon-after($fa-var-angle-right, 0.5em);
		}
		@include smaller-than($screen-tablet) {
			.slider-text a {
				font-size: $font-size-h3;
			}
		}
	}
	.field--name-field-image-copyright,
	.field--name-field-image-subtitle {
		background: $color-white-transparent;
		padding: 0 0.5em;
	}
	.field--name-field-image-copyright {
		position: absolute;
		top: $vertical-gutter-width * 2;
		right: $grid-gutter-width;
	}
	.field--name-field-image-subtitle {
		position: absolute;
		top: $vertical-gutter-width;
		right: $grid-gutter-width;
	}
}