.address {
  font-size: $font-size-h6;
  &__headline {
    color: $nrw-secondary;
    font-size: $font-size-h3;
    line-height: $line-height-base;
    margin-bottom: $padding-base-vertical;
    margin-top: $padding-base-vertical*2;
  }
  &__fax,
  &__phone {
    div {
      display: inline-block;
    }
  }
}