.media--search {
  margin: 0 0 $grid-gutter-width/2 0;
  min-height: 200px;
}

.media--search__type-text {
  position: absolute;
  left: $grid-gutter-width/2;
  top: $vertical-gutter-width/2;
  z-index: 1;
  font-size: $font-size-small;
  line-height: $font-size-small;
  font-weight: bold;
  color: $color-white;
  background: $brand-primary;
  padding: $padding-xs-vertical*3 $padding-small-horizontal;
}

.media--search__info,
.media--search__caption,
.media--search__copyright {
  font-size: $font-size-h6;
  font-weight: bold;
}

.media--search__info {
  position: static;
  color: $brand-primary;
  padding-top: $padding-large-vertical;
  text-align: left;
}
.media--search__caption {
  float: none;
  padding: 0;
}

.media--search__copyright {
  &:before {
    content: "/";
    padding-left: 0;
  }
}

.media--search__date {
  display: block;
  font-size: $font-size-small;
  font-weight: bold;
}

.media--search__dummy {
  position: relative;
  background-color: $background-grey;

  $media-dummy-icon-size: 50px;

  &:before {
    content: '\f01d';
    position: absolute;
    bottom: $grid-gutter-width/2;
    right: $grid-gutter-width/2;
    font-family: FontAwesome;
    font-size: $media-dummy-icon-size;
    line-height: $media-dummy-icon-size;
    color: $brand-primary;
  }

  // 16:9 ratio settings for dummy
  &:after {
    content: '';
    display: block;
    padding-top: 50%;
  }
}

.media--search__tags {
  margin-top: $padding-base-vertical;
  &:before,
  a {
    color: $brand-primary;
  }
  a {
    &:link,
    &:visited {
      text-decoration: none;
    }
    &:after {
      content: ',';
      display: inline-block;
      padding-right: $padding-xs-horizontal;
    }
    &:last-child:after {
      content: '';
    }
  }
}