{#
/**
 * @file
 * Default theme implementation to present a media entity.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}

<article class="image">

    {% if content.image %}
        <div class="image__image">{{ content.image }}</div>
    {% endif %}

    {% if content.field_image_caption %}
        <div class="image__caption">{{ content.field_image_caption }}</div>
    {%  endif %}

    {% if content.field_image_copyright %}
        <div class="image__copyright"><span class="image__copyright-label"><i class="fa fa-copyright" aria-hidden="true"></i></span> {{ content.field_image_copyright }}</div>
    {% endif %}

</article>