{#
/**
 * @file
 * Default theme implementation to present a media entity.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
<article class="image">

  <div class="image__image">{{ content.image }}</div>
  <div class="image__caption">{{ content.field_image_caption }}</div>
  <div class="image__copyright"><span class="image__copyright-label">Copyright:</span> {{ content.field_image_copyright }}</div>
</article>