.blog{
  &__header{
    background-color: $brand-primary;
    
    padding-bottom: $grid-gutter-width/2;
    &-title{
      margin: 0 -1*($grid-gutter-width/2);
      padding: 0 $grid-gutter-width/2 $grid-gutter-width/2 $grid-gutter-width/2;
      font-size: $font-size-h1;
      color: $color-white;
      background-color: $brand-primary;
      line-height:  $font-size-h1;
      font-weight: bold;
    }
    &-date{
      padding: 0 $grid-gutter-width/2;
      margin: 0 -1*($grid-gutter-width/2);
      background-color: $brand-primary;
      color: $color-white;
      font-size: $font-size-h4;
      font-weight: bold;
    }
    &:after {
      width: 0px;
      height: 0px;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-top: 15px solid $brand-primary;
      position: relative;
      top: 58px;
      left: $grid-gutter-width/2;
      content: '';
    }
  }
}